<div class="sign-container">
  <div class="row">
    <div class="sign-page">
        <div class="form">
          <form class="login-form" id='signin_form' action='/signin' method='post' >
            <input id='name' name='name' type='text' placeholder="用户名/手机号/邮箱地址" />
            <input id='pass' name='pass' type='password' placeholder="密码" />
            <input type='hidden' name='_csrf' value='<%= csrf %>' />
            <% if(typeof(error) !== 'undefined' && error){ %>
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <span class="red-text" style="font-size: 12px"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= error %></span>
            </div>
            <% } %>
            <button>登录</button>
            <p class="message"><a href="/signup">注册账号&nbsp;&nbsp;</a>  |  <a id="forgot_password" href='/search_pass'>&nbsp;&nbsp;取回密码</a></p>
          </form>
        </div>
      </div>
      <div class="verti-hidden text-center" style="color: rgb(199, 199, 199); font-size: 12px; padding: 20px; width: 100%">
        <img style="height: 80px;" src="../public/images/logo-white.png">
        <p class="py-2">panorizon - 户外新地平线</p>
      </div>
  </div>
</div>

