<div class="sign-container">
  <div class="row">
    <div class="sign-page">
        <div class="form">
          <form class="register-form" form id='signup_form' action='/signup' method='post'>
            <% if (typeof(success) !== 'undefined' && success) { %>
            <div class="alert alert-success">
              <strong><%= success %></strong>
            </div>
            <% } else { %>
              <% if (typeof(loginname) !== 'undefined') { %>
            <input id='loginname' name='loginname' type='text' value='<%= loginname %>' placeholder="用户名"/>
            <% } else { %>
            <input id='loginname' name='loginname' type='text' value='' placeholder="用户名"/>
            <% } %>
            <input id='pass' name='pass' type='password' placeholder="输入密码"/>
            <input id='re_pass' name='re_pass' type='password' placeholder="重新输入密码"/>
            <% if (typeof(email) !== 'undefined') { %>
            <input id='email' name='email' type='text' value='<%= email %>' placeholder="邮箱地址"/>
            <% } else { %>
            <input id='email' name='email' type='text' placeholder="邮箱地址"/>
            <% } %>
            <input type="text" placeholder="手机号码"/>
            <input type='hidden' name='_csrf' value='<%= csrf %>'/>
            <% if (typeof(error) !== 'undefined' && error) { %>
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <span class="red-text" style="font-size: 12px"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= error %></span>
            </div>
            <% } %>
            <button>创建账号</button>
            <p class="message">已有账号? <a href="/signin">点击登录</a></p>
            <% } %>
          </form>
        </div>
      </div>
      <div class="verti-hidden text-center" style="color: rgb(199, 199, 199); font-size: 12px; padding: 20px; width: 100%">
        <img style="height: 80px;" src="../public/images/logo-white.png">
        <p class="py-2">panorizon - 户外新地平线</p>
      </div>
  </div>
</div>
