<div class="swiper-slide inline-block">
    <div class="pano-header inline-block pull-left hidden-sm logo-bg" style="width: 30%;">
    </div>
    <div class="pano-header inline-block pull-right pano-responsive-width">
        <div class="pano-full-bg" style="background-image: url(<%= topic.cover %>);">    
            <div class="pano-cover-shape-border"></div>  
            <div class="pano-header-txt text-white">
                <div class="d-flex flex-row pano-header-ribon-box">    
                    <% if (topic.origin) { %>
                    <div class="pano-full-bg pano-vhalign text-white m-1 pano-header-ribon" style="background-image: url(public/images/leaf-banner.png);">
                        <strong>原创</strong>
                    </div> 
                    <% } %>
                    <% if (topic.good) { %>
                    <div class="pano-full-bg pano-vhalign text-white m-1 pano-header-ribon" style="background-image: url(public/images/leaf-banner.png);">
                        <strong>精华</strong>
                    </div>
                    <% } %>
                    <% if (topic.mtab === 'video' && topic.mtab) { %>
                    <div class="pano-full-bg pano-vhalign text-white m-1 pano-header-ribon" style="background-image: url(public/images/leaf-banner.png);">
                        <strong>视频</strong>
                    </div>  
                    <% } %>   
                    <div class="pano-full-bg pano-vhalign text-white m-1 pano-header-ribon">
                    </div>  
                </div>

                <div>    
                    <a class="pano-text-grey-shadow" href="/topic/<%= topic._id %>">
                        <p class="white-text pano-responsive-d4 px-2">
                                <%= topic.tabName%> 
                                <% if (topic.tab === 'mall' || topic.tab === 'hiking' ) { %>
                                <% } else { %> 
                                    | <%= topic.mtabName%>
                                <% } %>
                        </p>
                        <p class="white-text pano-responsive-t1 pano-cut2 px-2"><%= topic.title %><p>
                        <p class="white-text pano-responsive-d3 pano-cut2 px-2 hidden-md-down"><%= topic.desc %></p>
                    </a>
                </div>
            </div> 
            <div class="pano-cover-shape-border-right pull-right" style="margin-top:-300px;"></div>  
        </div>
    </div>

</div>

