<div class="col-lg-12 col-md-6 col-sm-6 col-12 pano-abstract-box">
    <a href="/topic/<%= topic._id %>">
      <div class="col-lg-3 col-md-12 col-sm-12 col-12 col-left pano-abstract-bg px-0" style="background-image:URL(<%= topic.cover %>)">
        <%- partial('./_top_good', {topic: topic}) %>
      </div>
    </a>
    <div class="col-lg-9 col-md-12 col-sm-12 col-12 col-left pano-abstract-body">
      <div class="pano-abstract-contents">
        <a href="/topic/<%= topic._id %>">
          <p class="pano-abstract-title">
              <%= topic.title %>   
              <% if (topic.tabName === '视频' && topic.tabName) { %>
                <i class="fa fa-play-circle" aria-hidden="true"></i>
              <% } %>
          </p>
          <p class="pano-abstract-desc">          
              <%= topic.desc %>           
          </p>
        </a>
      </div>
      <div class="chip pano-abstract-chip offset-1">    
        <a href="/user/<%= topic.author.loginname %>">
          <img class="pano-avatar-small rounded-circle" src="<%= proxy(topic.author.avatar_url) %>" />
        </a>
          &nbsp; <%= topic.author.loginname %> <%= topic.create_at_ago() %>发布 | <i class="fa fa-reply" aria-hidden="true"></i> <%= topic.reply_count %> | <i class="fa fa-eye" aria-hidden="true"></i> <%= topic.visit_count %>
      </div>
    </div>
</div>

