
<div class="col-12 py-2 px-0" style="height: 75px;">
    <a href="/topic/<%= topic._id %>" title="<%= topic.title %>">
        <div class="col-3 col-left pano-qrate-bg" style="background-image:URL(<%= topic.cover %>);">
        </div>
        <!--Excerpt-->
        <div class="col-9 col-left px-2" style="background-color:white; height: 70px;" >
            <div class="pano-qrate-title-dark" style="font-weight: 500"><%= topic.title %></div>
            <div class="pano-qrate-desc-dark pano-cut1" style="color: grey"><%= topic.desc %></div>   
        </div>
    </a>
</div>
<div class="clearfix"></div>


