
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-left wow fadeIn" style="margin-bottom:10px" data-wow-delay="0.2s">
  <div class="card">
      <!--Card image-->
      <a href="/topic/<%= topic._id %>">
        <div class="pano-abstract-bg" style="background-image:URL(<%= topic.cover %>)">
            <span class="pano-abstract-label"><%- partial('./_top_good', {topic: topic}) %></span>
        </div>
        <!--Card content-->
        <div class="card-body pano-abstract-hf-text">
            <!--Title-->
            <h6 class="card-title pano-cut2">
                <%= topic.title %>     
            </h6>
            <!--Text-->
            <p class="card-text pano-cut2">          
                  <%= topic.desc %>              
            </p>
        </div>
      </a>
      <div class="card-body pano-information">    
        <div class="pull-left">
          <a href="/user/<%= topic.author.loginname %>">
            <img class="pano-avatar-small rounded-circle" src="<%= proxy(topic.author.avatar_url) %>" title="<%= topic.author.loginname %>"/>
          </a>
        </div>
        <div class="pull-right">
          <%= topic.author.loginname %> | <%= topic.create_at_ago() %> | <%= topic.reply_count %>回复 | <%= topic.visit_count %>点击
        </div>  
      </div>
  </div>
  <!--/.Card-->
</div>



<!--  some other information

            <% if (topic.reply && topic.reply.author) {%>
            <a class='last_time pull-right' href="/topic/<%= topic._id %><%- '#' + topic.reply._id %>">
              <img class="" src="<%= proxy(topic.reply.author.avatar_url) %>">
              <span class="last_active_time"><%= topic.reply.create_at_ago() %></span>
            </a>
            <% } %>
            <% if (!topic.reply) {%>
              <span class='last_time pull-right'>
                <span class="last_active_time"><%= topic.create_at_ago() %></span>
              </span>
            <% } %>

            --> 