
<div class="col-12 py-4 px-1 pano-valign pano-border-bottom" style="height: 86px;">
    <a href="/topic/<%= topic._id %>" title="<%= topic.title %>">
        <div class="col-3 col-left pano-qrate-bg" style="background-image:URL(<%= topic.thumbnail %>);">
        </div>
        <div class="col-9 col-left pano-valign pano-qrate-bg-caption px-2">
            <span class="logo-text" style="margin-right: 2px; font-size: 10px">
                <%= topic.tabName%>
                <% if (topic.tab === 'mall' || topic.tab === 'hiking' ) { %>
                <% } else { %>
                | <%= topic.mtabName%>
                <% } %>
            </span>
            <div class="pano-qrate-title-dark pano-cut2">
                <%= topic.title %>
            </div>
            <div class="pano-qrate-desc-dark pano-cut1" style="color: grey">
                <%= topic.desc %>
            </div>   
        </div>
    </a>
</div>
<div class="clearfix"></div>




