<div class="col-lg-12 col-md-6 col-sm-6 col-12 pano-abstract-box">
    <a href="/topic/<%= topic._id %>">
      <div class="col-lg-3 col-md-12 col-sm-12 col-12 col-left pano-abstract-bg" style="background-image:URL(<%= topic.cover %>)">
          <span><%- partial('./_top_good', {topic: topic}) %></span>
      </div>
    </a>
    <div class="col-lg-9 col-md-12 col-sm-12 col-12 col-left pano-abstract-body">
      <div class="pano-abstract-contents">
        <a href="/topic/<%= topic._id %>">
          <p class="pano-abstract-title">
              <%= topic.title %>    
          </p>
          <p class="pano-abstract-desc">          
              <%= topic.desc %>           
          </p>
        </a>
      </div>
      <div class="chip pano-abstract-chip offset-1">    
        <a href="/user/<%= topic.author.loginname %>">
          <img class="pano-avatar-small rounded-circle" src="<%= proxy(topic.author.avatar_url) %>" />
        </a>
          &nbsp; <%= topic.author.loginname %> | <%= topic.create_at_ago() %> | <%= topic.reply_count %>回复 | <%= topic.visit_count %>点击
      </div>
    </div>
</div>

