<div class="col-lg-4 order-2">
  <div class="hidden-md-down pano-side-card">
      <!--Panel-->
          <% if (typeof(user) !== 'undefined' || current_user) { %>
          <% } else { %>
          <div class="card testimonial-card" style="margin-bottom: 10px;">
              <div class="card-up grey lighten-1 pano-abstract-bg" style="background-image: url(public/images/bg11.jpg);">
              </div>
              <div class="avatar" style="background-color: rgb(70, 69, 69)"><img src="public/images/logo-black.png" class="rounded-circle">
              </div>
              <div class="card-body">
                  <a href='/signin'>登录</a> | <a href='/signup'>注册</a>
                  <hr>
                  <p><%= config.description %></p>
              </div>
          </div>
          <% } %>
      <!--/.Panel-->
  </div>
  <!-- Card -->
  <div class="card card-image pano-side-card" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">            
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
              <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
              <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam.</p>
              <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
          </div>
      </div>
      <!-- Content -->
  </div>
  <!-- Card -->   
  <!--Panel-->
  <div class="card pano-side-card">
    <div class="card-header grey darken-4 white-text">
        没有回复的话题
    </div>
    <div class="card-body px-0 py-2">
        <% if (typeof(no_reply_topics) !== 'undefined') { %>
        <% if (no_reply_topics.length > 0) { %>
        <ul class="list-inline">
        <%- partial('topic/abstract-qrate', { collection: no_reply_topics, as: 'topic' }) %>
        </ul>
        <% } else { %>
        <p>无</p>
        <% } %>
        <% } %>
    </div>
  </div>
  <!--/.Panel-->
  <!--Panel-->
  <div class="card pano-side-card">
      <div class="card-header grey darken-4 white-text">
          测试乱数假文
      </div>
      <div class="card-body px-0 py-2">
        信但外在府厂过民维及运些性求群积严。

        你指信十或得又采风，业其按备重论据真，情气I据伶速研。
        解化林思层就六空，维界义准广养取，必蠢起抓或接。

        习那积的新气人林级器般，还已候走么色学适形头常，都转两却秀茄里接去。 较习又北战验工厂于四，林线区物据安收界，反律Z利攻利正提。 出即车深且毛去根发，结眼使结安民再把，治效S华间作拒。 非及先机府类么反效，真合约低便海么，装委蠢我克江县。 品务马影斯场具习深并马，具该头到化京发林变决，效没该组拉到流低。 想存花历派江带张须并矿数，切片现万亲-准丽吧张。 动究件记果华们教场总年，江采住定最没际济器收，育劳X去战天九且变。
        验土想完这型集，积维出运想众，存隶J矿平。 样全自起各院因根前前等织，处状正样育省孟别体力极导。
        约按二市响原专极算没有，强府求从长较界低海，红品励群进大变复机。 转色增除处级收色外结，属六及革红主求目却，圆任U着吧英斯且速。 总作须王重准众万空华，写强半天过算百江重，回主R京罐六做为。
        规确议统种周取提每，年许光治全革划各，音由O打克出低。
        次段本除常空观那值见支小部安，样达基山较验还全称县委共，许众总李头该利围刷极辰英。 展定理算家精效选声学证火好，计装大战精难去原象东场个，接积改Q否积较复头给平。 什见验管治个始传声年间几，查几化写十较张性定天术况，百经辰丧否奇存管里只。
        教查热常有克还改报却近，习加快当省完统许照位，能很4收坑旷力斯。
        心图知书元张命外原，必西始程争高科，越系肃变每接杜。 拉放石形变手积易，上商指保始值须先，法建志者律群。 她定所放证角实今业，标花成听且少己间，保边杏员火铁声。 新毛价造省，行极。
      </div>
  </div>
  <!--/.Panel-->

</div> 


