<div class="container">
  <div class="row">
    <%- partial('sidebar-simple') %>
    <!--Main column-->
    <div class="col-lg-8 order-1">
      <div class="panel">
        <div class='inner post'>
          <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong><%= edit_error %></strong>
          </div>
          <% } %>
          <% if(typeof(error) !== 'undefined' && error){ %>
          <div class="alert alert-error">
            <strong><%= error %></strong>
          </div>
          <% }else{ %>
          <% if (typeof(action) !== 'undefined' && action === 'edit') { %>
          <form id='create_topic_form' action='/topic/<%= topic_id %>/edit' method='post'>
            <% } else { %>
            <form id='create_topic_form' action='/topic/create' method='post'>
              <% } %>
              <fieldset>
                <!-- 封面上传按钮 -->
                <div id="cover_div">
                    <div class="btn btn-primary btn-sm btn-round submit_btn" style="padding:0; background-color: transparent; box-shadow: none" id="cover_btn" name="cover_btn">
                      上传封面
                    </div>
                  <!-- 封面图片显示区 -->
                    <span id="cover_url" style="font-size: 12px;">
                      &nbsp;<%= typeof(cover) !== 'undefined' && cover || '' %>
                    </span>
                </div>
                <div style="margin-bottom: 4px;">    
                  <select class='form-control float-left' style="font-size: 12px; width: 120px; height: 30px; margin-bottom: 4px;" name="tab" id="tab-value">
                    <option value="">选择板块</option>
                    <%
                    var tabValue = '';
                    if (typeof(tab) !== 'undefined') {
                      tabValue = tab;
                    }
                    tabs.forEach(function (pair) {
                      var value = pair[0];
                      var text = pair[1];
                      %>
                    <option value="<%=value%>" <%= tabValue === value ? 'selected': '' %>><%=text%></option>
                    <%});%>
                  </select>
                  <select class='form-control float-left' style="font-size: 12px; width: 120px; height: 30px; margin-bottom: 4px;"  name="mtab" id="mtab-value">
                    <option value="">话题类型</option>
                    <%
                    var mtabValue = '';
                    if (typeof(mtab) !== 'undefined') {
                      mtabValue = mtab;
                    }
                    mtabs.forEach(function (pair) {
                      var value = pair[0];
                      var text = pair[1];
                      %>
                    <option value="<%=value%>" <%= mtabValue === value ? 'selected': '' %>><%=text%></option>
                    <%});%>
                  </select>
                </div>

                <span id="topic_create_warn"></span>
                <!-- 内容标题 -->		
                <textarea autofocus class='form-control' id='title' name='title' rows='1' maxlength="50" 
                          placeholder="标题字数 10 字以上"><%= typeof(title) !== 'undefined' && title || '' %></textarea>
                <!-- 内容简介 -->						
                <textarea class='form-control' id='desc' name='desc' rows='1' maxlength="100"
                          placeholder="简介字数20~40字"><%= typeof(desc) !== 'undefined' && desc || '' %></textarea>		

            <div class="clearfix"></div>
            <div class='markdown_editor in_editor'>
              <div class='markdown_in_editor'>
                  <textarea class='editor' id='editor' name='t_content' rows='20' placeholder='文章支持 Markdown 语法, 请注意标记代码'>
                    <%= typeof(content) !== 'undefined' && content || '' %>
                  </textarea>
                <div class='editor_buttons'>
                  <input type="submit" class='pull-right btn btn-primary btn-round submit_btn' data-loading-text="提交中" value="提交">
                </div>
              </div>
            </div>
            <div>
              <input type='checkbox' id='origin' name="origin" value="<%= origin%>" <%= origin ? 'checked': ''%>>
              <label id="originornot" name="originornot" for="origin" class="grey-text" style="font-size: 12px">原创</label>
            </div>
            
            <input type='hidden' type='text' id='topic_tags' name='topic_tags' value=''>
            <input type='hidden' name='_csrf' value='<%= csrf %>'>
            <input type='hidden' name='_csrf1' value='<%= csrf %>'>
            <input type='hidden' id='cover' name="cover" value='<%= cover %>'>
            <input type='hidden' id='thumbnail' name="thumbnail" value='<%= thumbnail %>'>
          </fieldset>
          </form>
        </div>
        <% } %>

      </div>

    </div>

  </div>
 
</div>

<!-- markdown editor -->
		<%- partial('../includes/ckeditor') %>
	
<script>
  (function () {
    CKEDITOR.replace( 'editor' );
    //$('#origin').val(false);
		
    // $('#cover_btn').on('click', function(){
    //   var toolImage = new ToolImage1();
    //   toolImage.bind();
    // });

    $('#originornot').on('click', function(){
      var ori = eval($('#origin').val());
      if(!ori){
        $('#origin').val(true);
      }else{
        $('#origin').val(false);
      }
    });

    // 版块选择的检查，必须选择
    $('#create_topic_form').on('submit', function (e) {
      var tabValue = $('#tab-value').val();
      if (!tabValue) {
        alert('必须选择一个版块！');
        $('.submit_btn').button('reset');
        $('.tab-selector').css('color', 'red');
        return false;
      }
      var mTabValue = $('#mtab-value').val();
      if (!mTabValue) {
        alert('必须选择一个类型！');
        $('.submit_btn').button('reset');
        $('.tab-selector').css('color', 'red');
        return false;
      }
    });
    // END 版块选择的检查，必须选择

    // 不同TAB选择时的告警信息 
    $('#tab-value').on('change', function () {
      var $this = $(this);
      var value = $this.val();
      var warnMsg = '';
      if (value === 'mall') {
        warnMsg = '<strong><span style="padding-left: 20px; font-size: 12px">请不要交易假冒伪劣商品</span></strong>';
      } else if (value === 'activity') {
        warnMsg = '<strong><span style="padding-left: 20px; font-size: 12px">仅限户外活动</span></strong>'
      }
      $('#topic_create_warn').html(warnMsg);
    });
    // END 不同TAB选择时的告警信息

    // 不同MTAB选择时的告警信息 
    $('#mtab-value').on('change', function () {
      var $this = $(this);
      var value = $this.val();
      var warnMsg = '';
      if (value === 'accident') {
        warnMsg = '<strong><span style="padding-left: 20px; font-size: 12px">发布事故信息请注意上传内容的真实性。</span></strong>';
      } else if (value === 'news') {
        warnMsg = '<strong><span style="padding-left: 20px; font-size: 12px">请注明新闻出处。</span></strong>'
      }
      $('#topic_create_warn').html(warnMsg);
    });
    // END 不同MTAB选择时的告警信息
    this.file = false;
    var _csrf1 = $('[name=_csrf1]').val();

    this.uploader = WebUploader.create({
      swf: '/public/libs/webuploader/Uploader.swf',
      server: '/upload?_csrf=' + _csrf1,
      pick: '#cover_btn',
      auto: true,
      fileSingleSizeLimit: 2 * 1024 * 1024,
      //sendAsBinary: true,
      // 只允许选择图片文件。
      accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
      }
    });

    this.uploader.on('beforeFileQueued', function(file){
      if(self.file !== false){
        return false;
      }
      //self.showFile(file);
    });

    this.uploader.on('uploadProgress', function(file, percentage){
      // console.log(percentage);
      //self.showProgress(file, percentage * 100);
    });

    this.uploader.on('uploadSuccess', function(file, res){
      if(res.success){
        //self.$win.modal('hide');
        console.log(JSON.stringify(res));
        $('#cover_url').text(res.url);
        $('#cover').val(res.url);
        $('#thumbnail').val(res.url+"?imageMogr2/auto-orient/thumbnail/100000@/blur/1x0/quality/75|imageslim");
        //self.editor.push('!['+ file.name +']('+ res.url +')');
        alert(res.url || '服务器链接失败，上传无法完成！');
      }
      else{
        alert(res.msg || '服务器链接失败，上传无法完成！');
      }
    });

    this.uploader.on('uploadComplete', function(file){
      //self.uploader.removeFile(file);
      //self.removeFile();
    });

    this.uploader.on('error', function(type){
      self.removeFile();
      switch(type){
        case 'Q_EXCEED_SIZE_LIMIT':
        case 'F_EXCEED_SIZE':
          self.showError('文件过大, 不能超过2M');
          break;
        case 'Q_TYPE_DENIED':
          self.showError('只能上传图片');
          break;
        default:
          self.showError('发生未知错误');
      }
    });

    this.uploader.on('uploadError', function(){
      //self.removeFile();
      alert('服务器链接失败，上传无法完成！');
    });
    
  })();
</script>
