<!-- Card -->
<div class="pano-topic-index-head" style="background-image: url(<%= topic.cover %>);">    
    <div class="pano-cover-caption" style="z-index:0;"></div>        
    <!-- Content -->
    <div class="pano-topic-index-caption text-white text-center align-items-center rgba-black-light px-1">
        <span style="font-size: 12px;"><%= topic.tabName %></span>
        <p class="pano-carousel-title pano-cut2"><strong><%= topic.title %></strong><p>
        <p class="pano-carousel-desc pano-cut2" style="font-size: 12px"><%= topic.desc %></p>

    </div>
    <!-- Content -->
</div>
<!-- Card -->   





