<div style="width: 100%; margin-bottom: 10px;">
    <!-- Card -->
    <div class="pano-topic-index-head" style="width: 100%; background-image: url(<%= topic.cover %>);">         
        <!-- Content -->
        <div class="pano-topic-index-caption text-white text-center align-items-center rgba-black-light px-1">
            <span style="font-size: 12px;"><%= topic.tabName %></span>
            <p class="pano-cut2 h2-responsive" style="font-weight: 700"><%= topic.title %><p>
            

        </div>
        <!-- Content -->
    </div>
    <!-- Card -->   
    

</div>
