
<div class="col-lg-4 order-2">

    <div class="hidden-md-down pano-side-card">
        <!--Panel-->
            <% if (typeof(user) !== 'undefined' || current_user) { %>
            <% } else { %>
            <div class="card testimonial-card" style="margin-bottom: 10px;">
                <div class="card-up grey lighten-1 pano-abstract-bg" style="background-image: url(public/images/bg11.jpg);">
                </div>
                <div class="avatar" style="background-color: rgb(70, 69, 69)"><img src="public/images/logo-black.png" class="rounded-circle">
                </div>
                <div class="card-body">
                    <a href='/signin'>登录</a> | <a href='/signup'>注册</a>
                    <hr>
                    <p><%= config.description %></p>
                </div>
            </div>
            <% } %>
        <!--/.Panel-->
    </div>

    <!--Panel-->
    <div class="mb-2">
        <% if (typeof(tab_topics) === 'undefined' || tab_topics.length > 0) { %>
        <div class="pano-qrate-tab-lable"><%= topic.tabName %>板块其他话题</div>
        <%- partial('../topic/abstract-qrate', { collection: tab_topics, as: 'topic' }) %>
        <% } else { %>
        
        <% } %>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="mb-2">
        <% if (typeof(mtab_topics) === 'undefined' || mtab_topics.length > 0) { %>
        <div class="pano-qrate-tab-lable"><%= topic.mtabName %>板块其他话题</div>
        <%- partial('../topic/abstract-qrate', { collection: mtab_topics, as: 'topic' }) %>
        <% } else { %>

        <% } %>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="mb-2">
        <% if (typeof(silder_topics) !== 'undefined') { %>
        <div class="pano-qrate-tab-lable">其他热门话题</div>
        <%- partial('../topic/abstract-qrate', { collection: silder_topics, as: 'topic' }) %>
        <% } else { %>

        <% } %>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="mb-2">
        <% if (typeof(author_other_topics) === 'undefined' || author_other_topics.length > 0) { %>
        <div class="pano-qrate-tab-lable">作者其他话题</div>
        <%- partial('../topic/abstract-qrate', { collection: author_other_topics, as: 'topic' }) %>
        <% } else { %>
 
        <% } %>
    </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="mb-2">
        <% if (typeof(no_reply_topics) !== 'undefined') { %>
        <% if (no_reply_topics.length > 0) { %>
        <div class="pano-qrate-tab-lable">没有回复的话题</div>
        <%- partial('topic/abstract-qrate', { collection: no_reply_topics, as: 'topic' }) %>

        <% } else { %>

        <% } %>
        <% } %>
    </div>

    <!--/.Panel-->

    



</div> 


