<%- partial('navbar') %>
<%- partial('sidebar') %>

<div id="content">
  <div class="panel">

  <!-- 
      <div><!-- original 
        <% [['all', '全部'], ['good', '精华']].concat(tabs).forEach(function (pair) {
          var value = pair[0];
          var text = pair[1]; %>
          <a href="<%= value ? '/?tab=' + value : '/' %>"
            class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
        <% }) %>
      </div>
  
  
    <div>
      <% [['all', '全部'], ['good', '精华']].forEach(function (pair) {
        var value = pair[0];
        var text = pair[1]; %>
        <a href="<%= value ? '/?tab=' + value : '/' %>"
          class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
      <% }) %>
    </div>


    <div>
        <a href="?tab=news">新闻</a>
    </div>

    <div>
        <%= tabs %>
    </div>


    <select name="tab" id="tab-value">
        <option value="">请选择</option>
        <%
        var tabValue = '';
        if (typeof(tab) !== 'undefined') {
          tabValue = tab;
        }
        tabs.forEach(function (pair) {
          var value = pair[0];
          var text = pair[1];
          %>
          
          <option value="<%=value%>" <%= tabValue === value ? 'selected': '' %>><%=text%></option>

        <%});%>
      </select>




    <div  style="color:purple">
      <% (tabs).forEach(function (pair) {
        var value = pair[0];
        var text = pair[1]; %>
        <a href="<%= value ? '/?tab=' + value : '/' %>"
          class="topic-tab <%= value === tab ? 'current-tab' : '' %>"><%= text %></a>
      <% }) %>
    </div>


    <ul class="list-inline">
      <% (tabs).forEach(function (pair) {
        var value = pair[0];
        var text = pair[1]; %>
        <li class="list-inline-item" style="color:red"><div><%= text %></div></li>
      <% }) %>
    </ul>

  -->


    <div class="swiper-container swiper-tab" style="width:100%">
      <ul class="list-inline swiper-wrapper width:100%">
          <% [['all', '全部'], ['good', '精华']].concat(tabs).forEach(function (pair) {
            var value = pair[0];
            var text = pair[1]; %>
              <li class="swiper-slide" style="width:50px">
                <a href="<%= value ? '/?tab=' + value : '/' %>" class="topic-tab <%= value === tab ? 'current-tab' : '' %>">
                  <%= text %>
                </a>
              </li>
          <% }) %>
      </ul>
    </div>  







    <% if (typeof(topics) !== 'undefined' && topics.length > 0) { %>

    <div class="inner no-padding">
      <%- partial('topic/list', {
      topics: topics,
      pages: pages,
      current_page: current_page,
      base: '/'
      }) %>
    </div>
    <% } else { %>
    <div class="inner no-padding">
      <p class="text-center">此版块暂时还没有话题</p>
    </div>
    <% } %>





  </div>
</div>


   
    
<style>
    .swiper-container-adv {
      width: 100%;
      height: 100%;
    }
    .swiper-slide-adv {
      text-align: center;
      font-size: 18px;
      background: #fff;
      width: 200px;
      height: 120px;
      background-color: white;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  </style>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper('.swiper-tab', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>