<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- meta -->
  <meta charset="utf-8"/>
  <meta name='description' content='<%= config.description %>'>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="keywords" content="<%= config.keywords %>"/>
  <!-- see http://smerity.com/articles/2013/where_did_all_the_http_referrers_go.html -->
  <meta name="referrer" content="always">

  <%
  var headers = config.site_headers || [];
  for (var i = 0, l = headers.length; i < l; i++) {
  %>
  <%- headers[i] %>
  <% } %>

  <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>

  <% if (config.site_icon) { %>
  <link rel="icon" href="<%- staticFile(config.site_icon) %>" type="image/x-icon"/>
  <% } %>

  <!-- style -->
  <%- Loader('/public/stylesheets/index.min.css')
  .css('/public/libs/panostrap/sass/bootstrap.css') <!-- bootstrap upgrade to 4.0 -->
  .css('/public/libs/panostrap/sass/panostrap.css') <!-- mdb style update -->
  .css('/public/libs/panostrap/sass/style.css') <!-- mdb style update -->
  .css('/public/libs/editor/editor.css')
  .css('/public/libs/webuploader/webuploader.css')
  .css('/public/libs/code-prettify/prettify.css')
  .css('/public/libs/font-awesome/css/font-awesome.css')
  .done(assets, config.site_static_host, config.mini_assets)
  %>

  <!-- scripts -->
  <%- Loader('/public/index.min.js')
  .js('/public/libs/panostrap/js/jquery-3.2.1.min.js') <!-- jquery update to 3.2.1 -->
  .js('/public/libs/panostrap/js/bootstrap.js') <!-- bootstrap js upgrade -->
  .js('/public/libs/panostrap/js/popper.min.js') <!-- MDB POPPER js upgrade -->
  .js('/public/libs/panostrap/js/compiled.js') <!-- MDB POPPER js upgrade -->
  .js('/public/libs/panostrap/js/panostrap.js') <!-- MDB js upgrade -->
  .js('/public/libs/lodash.compat.js')
  .js('/public/libs/jquery-ujs.js')
  .js('/public/libs/jquery.caret.js')
  .js('/public/libs/jquery.atwho.js') <!-- important: needed for topic reply user actions -->
  .js('/public/libs/markdownit.js')
  .js('/public/libs/code-prettify/prettify.js')
  .js('/public/libs/qrcode.js')
  .js('/public/libs/parts/swiper.min.js')
  <!-- .js('/public/javascripts/main.js') -->
  <!-- .js('/public/javascripts/responsive.js') -->
  .done(assets, config.site_static_host, config.mini_assets)
  %>

  <% if (typeof(topic) !== 'undefined') { %>
  <title><%= topic.title %> - <%= config.name %></title>
  <% } else if (typeof(pageTitle) !== 'undefined') { %>
  <title><%= pageTitle %> - <%= config.name %></title>
  <% } else { %>
  <title><%= config.description %></title>
  <% } %>
  <meta content="_csrf" name="csrf-param">
  <meta content="<%= csrf %>" name="csrf-token">
</head>

<body style="background-color:rgb(235, 235, 235); font-family:'Microsoft Yahei',Tahoma,Helvetica,SimSun,sans-serif;">
    <header>
        <%- partial('navbar') %>
    </header>

    <main>
        <%- body %>
    </main>

    <!--Footer-->
    <footer class="page-footer center-on-small-only">
        <!--Footer links-->
        <div class="container-fluid">
            <div class="row">
                <!--First column-->
                <div class="col-lg-3 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>About </strong></h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, ex eu sagittis faucibus, ligula ipsum sagittis magna, et imperdiet dolor lectus eu libero. </p>

                </div>
                <!--/.First column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Second column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>First column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Third column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Second column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--/.Third column-->
                <hr class="w-100 clearfix d-sm-none">
                <!--Fourth column-->
                <div class="col-lg-2 col-md-6 ml-auto">
                    <h5 class="title mb-3"><strong>Third column</strong></h5>
                    <ul>
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer links-->
        <hr>
        <!--Call to action-->
        <div class="call-to-action">
            <h4 class="mb-5">啊手动阀第三方</h4>
            <ul>
                <li>
                    <h5>啊手动阀手动阀手动阀</h5>
                </li>
                <li><a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-info" rel="nofollow">Sign up!</a></li>
                <li><a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default" rel="nofollow">Learn more</a></li>
            </ul>
        </div>
        <!--/.Call to action-->
    </footer>
    <!--/.Footer-->


<!-- 
<% if (config.google_tracker_id) { %>
  <script>
    // google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script', "<%- proxy('https://www.google-analytics.com/analytics.js') %>",'ga');

    ga('create', '<%-config.google_tracker_id%>', 'auto');
    ga('send', 'pageview');
  </script>
  <% } %>

  <% if (config.cnzz_tracker_id) { %>
  <div style="display:none;">
    <script src="//s95.cnzz.com/z_stat.php?id=<%- config.cnzz_tracker_id %>&web_id=<%- config.cnzz_tracker_id %>" language="JavaScript"></script>
  </div>
<% } %>
--> 
</body>


<style rel="stylesheet">
    main{
        margin-top: 60px;
    }
    
    footer.page-footer {
        background-color: #53463d;
        margin-top: 2rem;
    }
</style>
    
    
    
<script>
    new WOW().init();
</script>


</html>
