


  <div class="swiper-container tabs" style="margin-top: 10px; margin-bottom: 20px; height:100px; width:100%">
    <div class="swiper-wrapper">
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img1.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img2.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img3.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img4.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img5.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img1.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img2.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img3.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img4.png" style="height:100%"></div>
      <div class="swiper-slide text-center" style="border: solid 1px grey"><img src="../public/libs/parts/img5.png" style="height:100%"></div>
    </div>
  </div>


  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.tabs', {
      slidesPerView: 'auto',
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
