

<div class="col-12">

<div class="swiper-container lg-swiper" style="margin-bottom: 10px; width:100%; box-shadow: 0px 1px 0px rgb(219, 219, 219)">
    <div class="swiper-wrapper">
        
        <% if (typeof(no_reply_topics) !== 'undefined') { %>
            <% if (no_reply_topics.length > 0) { %>
            <%- partial('topic/abstract-lg-swiper', { collection: no_reply_topics, as: 'topic' }) %>
            <% } %>
        <% } %>

        <%- partial('adv/main-header-adv') %> 
            
    </div>

    <!-- Add Arrows -->
    <div class="swiper-button-next swiper-button-white white-text h1" style="text-shadow: 1px 1px 1px grey">
        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
    </div>
    <div class="swiper-button-prev swiper-button-white white-text h1" style="text-shadow: 1px 1px 1px grey">
        <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
    </div>
    <div class="swiper-pagination"></div>
</div>
</div>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.lg-swiper', {
        spaceBetween: 30,
        centeredSlides: true,
        loop: true,
        autoplay: {
        delay: 5000,
        disableOnInteraction: false,
        },
        pagination: {
        el: '.swiper-pagination',
        clickable: true,
        },
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
        },
    });
</script>
        
        