
    <div class="swiper-container swiper-tab" style="width:100%">
    <ul class="list-inline swiper-wrapper width:100%">
        <% [['all', '全部'], ['good', '精华']].concat(tabs).forEach(function (pair) {
            var value = pair[0];
            var text = pair[1]; %>
            <li class="swiper-slide" style="width:40px">
                <a href="<%= value ? '/?tab=' + value : '/' %>" class="topic-tab <%= value === tab ? 'current-tab' : '' %>">
                <div class="topic-tab-container">
                    <%= text %>
                </div>
                </a>
            </li>
        <% }) %>
    </ul>
    </div>  

          

<style>
        .topic-tab-container {
          width: 100%;
          border:1px solid grey;
          background-color: rgb(192, 192, 192);
          text-align: center;
        }
    
        .swiper-container-adv {
          width: 100%;
          height: 100%;
        }
        .swiper-slide-adv {
          text-align: center;
          font-size: 18px;
          background: #fff;
          width: 200px;
          height: 120px;
          background-color: white;
    
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }
      </style>
    
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.swiper-tab', {
        slidesPerView: 'auto',
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    </script>