
<nav class="my-0 py-0 navbar fixed-bottom navbar-expand-lg navbar-dark pano-nav-color-1 h6 verti-hidden hidden-sm-up" style="font-weight: 400; font-size: 12px; box-shadow: none; text-shadow: 1px 1px 1px black">
    <div class="container white-text h5 pt-2 pb-0 px-3">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>   
</nav>
 

