<div class="col-lg-4 order-2">  

    <%- partial('adv/side-adv-scarpa') %> 

    <!--Panel-->
    <div class="hidden-md-down pano-side-card">        
        <% if (typeof(user) !== 'undefined' || current_user) { %>
        <% } else { %>
        <div class="card testimonial-card" style="font-size: 13px;">
            <div class="card-up grey lighten-1 pano-abstract-bg" style="background-image: url(public/images/bg11.jpg);">
            </div>
            <div class="avatar" style="background-color: rgb(70, 69, 69)"><img src="public/images/logo-black.png" class="rounded-circle">
            </div>
            <div class="card-body">
                <a href='/signin'>登录</a> | <a href='/signup'>注册</a>
                <hr>
                <p><%= config.description %></p>
            </div>
        </div>
        <% } %>
    </div>
    <!--/.Panel-->

    <%- partial('adv/side-adv-pl') %> 

    <!--Panel-->
    <div class="card-header grey darken-2 white-text">
        无人回复的话题
    </div>
    <div class="py-2">
        <% if (typeof(no_reply_topics) !== 'undefined') { %>
        <% if (no_reply_topics.length > 0) { %>
        
        <%- partial('topic/abstract-qrate', { collection: no_reply_topics, as: 'topic' }) %>
        
        <% } else { %>
        <p>无</p>
        <% } %>
        <% } %>
    </div>
    <!--/.Panel-->  
    

    <!--Panel ------------------------------- display none ... not ready -->
    <div style="display:none">
        <div class="card-header grey darken-2 hidden-md-down white-text">
            积分榜
        </div>
        <div class="py-2 px-2 hidden-md-down ">
            <% if (typeof(tops) !== 'undefined') { %>
                <% if (tops.length > 0) { %>
                <%- partial('user/top', { collection: tops, as: 'user' }) %>
                <% } else { %>
                <p>无</p>
                <% } %>
                <a class='dark badge cyan offset-6' style="padding: 6px;" href='/users/top100'>TOP 100</a>
            <% } %>
        </div>
    </div>
    <!--/.Panel-->


</div>  

