<div class="col-lg-4 order-2">  
    <%- partial('adv/side-adv-scarpa') %> 
    <!--Panel-->
    <div class="hidden-md-down pano-side-card">        
        <% if (typeof(user) !== 'undefined' || current_user) { %>
        <% } else { %>
        <div class="card testimonial-card" style="font-size: 13px;">
            <div class="card-up grey lighten-1 pano-abstract-bg" style="background-image: url(public/images/bg11.jpg);">
            </div>
            <div class="avatar" style="background-color: rgb(70, 69, 69)"><img src="public/images/logo-black.png" class="rounded-circle">
            </div>
            <div class="card-body">
                <a href='/signin'>登录</a> | <a href='/signup'>注册</a>
                <hr>
                <p><%= config.description %></p>
            </div>
        </div>
        <% } %>
    </div>
    <!--/.Panel-->
    <%- partial('adv/side-adv-pl') %> 
</div>  

    