<div class="col-lg-4 order-2">  

    <!-- Card -->
    <div class="card card-image pano-side-card" style="max-height: 300px; background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">            
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
                <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam.</p>
                <a class="btn btn-pink"><i class="fa fa-clone left"></i> View project</a>
            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card -->   

    <div class="hidden-md-down pano-side-card">
        <!--Panel-->
            <% if (typeof(user) !== 'undefined' || current_user) { %>
            <% } else { %>
            <div class="card testimonial-card" style="font-size: 13px;">
                <div class="card-up grey lighten-1 pano-abstract-bg" style="background-image: url(public/images/bg11.jpg);">
                </div>
                <div class="avatar" style="background-color: rgb(70, 69, 69)"><img src="public/images/logo-black.png" class="rounded-circle">
                </div>
                <div class="card-body">
                    <a href='/signin'>登录</a> | <a href='/signup'>注册</a>
                    <hr>
                    <p><%= config.description %></p>
                </div>
            </div>
            <% } %>
        <!--/.Panel-->
    </div>
    
    <!--Panel-->

        <div class="card-header grey darken-2 white-text">
            积分榜
        </div>
        <div class-="py-5">
            <% if (typeof(tops) !== 'undefined') { %>
                <% if (tops.length > 0) { %>
                <%- partial('user/top', { collection: tops, as: 'user' }) %>
                <% } else { %>
                <p>无</p>
                <% } %>
                <a class='dark badge cyan' style="padding: 6px;" href='/users/top100'>TOP 100 &gt;&gt;</a>
            <% } %>
        </div>

    <!--/.Panel-->


    <!--Panel-->
        <div class="card-header grey darken-2 white-text">
            无人回复的话题
        </div>
        <div class-="py-5">
            <% if (typeof(no_reply_topics) !== 'undefined') { %>
            <% if (no_reply_topics.length > 0) { %>
            <ul class="list-inline">
            <%- partial('topic/abstract-qrate', { collection: no_reply_topics, as: 'topic' }) %>
            </ul>
            <% } else { %>
            <p>无</p>
            <% } %>
            <% } %>
        </div>

</div>  

