
<div class="mdb-feed">
    <hr>
      <div class="news">
          <div class="label">
            <a class='user_avatar' href="/user/<%= user.loginname %>"></a>
              <img src="<%= proxy(user.avatar_url) %>" class="rounded-circle z-depth-1-half">
            </a>
          </div>
          <div class="excerpt">
              <div class="brief">
                  <span class='big'>积分: <%= user.score %> </span>
              </div>
              <div class="feed-footer">
                  <p><i class="fa fa-quote-left"></i>
                    <% if (user.signature) {%>
                        <%-escapeSignature(user.signature)%>
                    <%} else {%>
                        没有个性签名。
                    <%}%>
              </p>
              </div>
          </div>
      </div>
    <hr>
  </div>






<% if (current_user) { %>
  <script>
    $(document).ready(function () {
      $('.follow_btn').click(function () {
        var $me = $(this);
        var action = $me.attr('action');
        var params = {
          follow_id: '<%= user._id %>',
          _csrf: '<%- csrf %>'
        };
        $.post('/user/' + action, params, function (data) {
          if (data.status === 'success') {
            var $btns = $('.follow_btn');
            if (action === 'follow') {
              $btns.html('取消关注');
              $btns.attr('action', 'un_follow');
            } else {
              $btns.html('加入关注');
              $btns.attr('action', 'follow');
            }
            $btns.toggleClass('btn-success');
          }
        }, 'json');
      });
    });
  </script>
  <% } %>