
<div class="container">
    <div class="row">
      <!--Main column-->
      <div class="col-lg-8">
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关注 <%= user.name %> 的人</li>
      </ul>
    </div>
    <div class='inner'>
      <% if (users.length > 0) { %>
      <%- partial('../user/user', { collection: users, as: 'user' }) %>
      <% } else { %>
      <p>还没有任何人关注他</p>
      <% } %>
    </div>
  </div>
</div>
<!--Sidebar-->
<div class="col-lg-4 hidden-md-down">
    <%- partial('../sidebar') %>
</div>    
<!--/.Sidebar-->
</div>
</div>