<div class="container">
  <div class="row">
    <%- partial('sidebar-simple') %>
      <div class="col-lg-8 order-1">
        <%- partial('user-header') %>

        
    <div class='panel'  style="background-color:white">
      <div class='inner userinfo' style="font-size: 12px">

        <hr>
 
        <% if (current_user && current_user.is_admin) { %>
          <div class="btn-group pull-right" style="width: 100%" >
              <button class="btn btn-light-blue btn-sm dropdown-toggle" style="width: 100%; font-size: 14px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  用户管理/话题管理
              </button>
              <div class="dropdown-menu" style="width: 100%">
                <a class="dropdown-item text-center" href="#">
                  <% if (!user.is_star) { %>
                    <span class='btn btn-sm btn-light-blue' id='set_star_btn' action='set_star'>设为达人</span>
                  <% } else { %>
                    <span class='btn btn-sm btn-light-blue' id='set_star_btn' action='cancel_star'>取消达人</span>
                  <% } %>

                  <% if (!user.is_block) { %>
                    <span class='btn btn-sm btn-light-blue' id='set_block_btn' action='set_block'>屏蔽用户</span>
                  <% } else { %>
                    <span class='btn btn-sm btn-light-blue' id='set_block_btn' action='cancel_block'>取消屏蔽用户</span>
                  <% } %>                    

                  <span class="btn btn-sm btn-light-blue" id="delete_all">删除所有发言</span>

                  <% if (!user.active) { %>
                    <a href="/active_account?key=<%- typeof(token) !== 'undefined' && token %>&name=<%= user.loginname %>" target="_blank">
                      <span class="btn btn-sm btn-light-blue">
                        激活账号
                      </span>
                    </a>
                  <% } %>
                  <div class="dropdown-divider"></div>
                  <div class="text-center" style="width: 100%">
                  <a href="mailto:<%= user.email %>" class="btn btn-sm btn-light-blue" >给用户发邮件</a>
                  </div>
                </a>
              </div>
          </div>
        <% } %>
      </div>
    </div>

    <div class="find_nav">
      <div class="find_nav_left">
          <div class="find_nav_list" id="pagenavi1">
              <ul class="pano-touchslide-ul">
                <li class="m-0 pano-touchslide-li"><a href="#" class="active"><span class="px-3">最近创建的话题</span></a></li>
                <li class="m-0 pano-touchslide-li"><a href="#"><span class="px-3">最近参与的话题</span></a></li>
                <li class="m-0 pano-touchslide-li"><a href="#"><span class="px-3">用户收藏的话题</span></a></li>
                <li class="m-0 pano-touchslide-li sideline"></li>
              </ul>
          </div>
      </div>
    </div>
    <div id="slider1" class="swipe">
      <ul class="box01_list pano-touchslide-ul">
        <li class="li_list pano-touchslide-li">
          <!-- 广告 -->
          <div class="col-lg-12 col-md-6 col-sm-6 col-6 pano-abstract-box px-1 my-1">
              <a href="/">
                <div class="col-lg-3 col-md-12 col-sm-12 col-12 col-left pano-abstract-bg pupple" style="border-radius: 5px; background-image:URL(../public/images/climb_rope.png)">
                  <div class="pano-abstract-bg-caption d-flex justify-content-center align-self-center">
                    <div class="white-text align-self-center" style="text-shadow: 1px 1px 1px grey">
                    </div>   
                  </div>                    
                </div>
              </a>
              <div class="col-lg-9 col-md-12 col-sm-12 col-12 col-left pano-abstract-body"  style="background:#c6fdfd">
                <div class="pano-abstract-contents">
                  <span style="font-size: 10px; color: grey">
                    广告
                  </span>  
                  <a href="/">
                    <div class="pano-abstract-title pano-cut2">  
                        广告标题
                    </div>
                    <div class="pano-abstract-desc pano-cut1 hidden-sm">          
                        广告说明
                    </div>
                  </a>
                </div>
                <div class="pano-abstract-information"  style="height: 30px;">    
                  <div class="hidden-sm px-1">
                    <div style="font-size: 10px">
                        其他信息
                    </div>
                  </div>
                  <div class="hidden-md-up px-1">
                    <div style="font-size: 10px">
                        其他信息
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 广告结束 -->
            <% if (typeof(recent_topics) !== 'undefined' && recent_topics.length > 0) { %>
              <%- partial('../topic/abstract-2col', { collection: recent_topics, as: 'topic' }) %>
                
                    <div class="clearfix"></div>
                  <a class='dark' href="/user/<%= user.loginname %>/topics">查看更多»</a>
                <% } else { %>
                  <div class='inner'>
                    <p>无话题</p>
                  </div>
                  <% } %>
        </li>
        <li class="li_list pano-touchslide-li">
          <!-- 广告 -->
          <div class="col-lg-12 col-md-6 col-sm-6 col-6 pano-abstract-box px-1 my-1">
              <a href="/">
                <div class="col-lg-3 col-md-12 col-sm-12 col-12 col-left pano-abstract-bg pupple" style="border-radius: 5px; background-image:URL(../public/images/climb_rope.png)">
                  <div class="pano-abstract-bg-caption d-flex justify-content-center align-self-center">
                    <div class="white-text align-self-center" style="text-shadow: 1px 1px 1px grey">
                    </div>   
                  </div>                    
                </div>
              </a>
              <div class="col-lg-9 col-md-12 col-sm-12 col-12 col-left pano-abstract-body"  style="background:#c6fdfd">
                <div class="pano-abstract-contents">
                  <span style="font-size: 10px; color: grey">
                    广告
                  </span>  
                  <a href="/">
                    <div class="pano-abstract-title pano-cut2">  
                        广告标题
                    </div>
                    <div class="pano-abstract-desc pano-cut1 hidden-sm">          
                        广告说明
                    </div>
                  </a>
                </div>
                <div class="pano-abstract-information"  style="height: 30px;">    
                  <div class="hidden-sm px-1">
                    <div style="font-size: 10px">
                        其他信息
                    </div>
                  </div>
                  <div class="hidden-md-up px-1">
                    <div style="font-size: 10px">
                        其他信息
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 广告结束 -->
            <% if (typeof(recent_replies) !== 'undefined' && recent_replies.length > 0) { %>
              <%- partial('../topic/abstract-2col', { collection: recent_replies, as: 'topic' }) %>
                
  
                    <div class="clearfix"></div>
                  <a class='dark' href="/user/<%= user.loginname %>/replies">查看更多»</a>
              
                <% } else { %>
                  <div class='inner'>
                    <p>无话题</p>
                  </div>
                  <% } %>          
        </li>
        <li class="li_list pano-touchslide-li">
          <!-- 广告 -->
          <div class="col-lg-12 col-md-6 col-sm-6 col-6 pano-abstract-box px-1 my-1">
              <a href="/">
                <div class="col-lg-3 col-md-12 col-sm-12 col-12 col-left pano-abstract-bg pupple" style="border-radius: 5px; background-image:URL(../public/images/climb_rope.png)">
                  <div class="pano-abstract-bg-caption d-flex justify-content-center align-self-center">
                    <div class="white-text align-self-center" style="text-shadow: 1px 1px 1px grey">
                    </div>   
                  </div>                    
                </div>
              </a>
              <div class="col-lg-9 col-md-12 col-sm-12 col-12 col-left pano-abstract-body"  style="background:#c6fdfd">
                <div class="pano-abstract-contents">
                  <span style="font-size: 10px; color: grey">
                    广告
                  </span>  
                  <a href="/">
                    <div class="pano-abstract-title pano-cut2">  
                        广告标题
                    </div>
                    <div class="pano-abstract-desc pano-cut1 hidden-sm">          
                        广告说明
                    </div>
                  </a>
                </div>
                <div class="pano-abstract-information"  style="height: 30px;">    
                  <div class="hidden-sm px-1">
                    <div style="font-size: 10px">
                        其他信息
                    </div>
                  </div>
                  <div class="hidden-md-up px-1">
                    <div style="font-size: 10px">
                        其他信息
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- 广告结束 -->
            <% if (typeof(is_collect) !== 'undefined' && is_collect.length > 0) { %>
              <%- partial('../topic/abstract-2col', { collection: is_collect, as: 'topic' }) %>
                
  
                    <div class="clearfix"></div>
                  <a class='dark' href="/user/<%= user.loginname %>/replies">查看更多»</a>
              
                <% } else { %>
                  <div class='inner'>
                    <p>无话题</p>
                  </div>
                  <% } %>          
        </li>
      </ul>
    </div>
      </div>
  </div>
</div>


<% if (current_user) { %>
  <script>
    $(document).ready(function () {
      $('#set_star_btn').click(function () {
        var $me = $(this);
        var action = $me.attr('action');
        var params = {
          user_id: '<%= user._id %>',
          _csrf: '<%- csrf %>'
        };
        $.post('/user/' + action, params, function (data) {
          if (data.status === 'success') {
            if (action === 'set_star') {
              $me.html('取消达人');
              $me.attr('action', 'cancel_star');
            } else {
              $me.html('设为达人');
              $me.attr('action', 'set_star');
            }
          }
        }, 'json');
      });

      $('#set_block_btn').click(function () {
        var $me = $(this);
        var action = $me.attr('action');
        var params = {
          _csrf: '<%- csrf %>',
          action: action
        };
        if (action === 'set_block' && !confirm('确定要屏蔽该用户吗？')) {
          return;
        }
        $.post('/user/<%- user.loginname %>/block', params, function (data) {
          if (data.status === 'success') {
            if (action === 'set_block') {
              $me.html('取消屏蔽用户');
              $me.attr('action', 'cancel_block');
            } else if (action === 'cancel_block') {
              $me.html('屏蔽用户');
              $me.attr('action', 'set_block');
            }
          }
        }, 'json');
      })

      $('#delete_all').click(function () {
        var $me = $(this);
        var params = {
          _csrf: '<%- csrf %>',
        };
        if (!confirm('确定要删除吗？（不会永久删除，只做标记位）')) {
          return;
        }
        $.post('/user/<%- user.loginname %>/delete_all', params, function (data) {
          if (data.status === 'success') {
            alert('操作成功');
          }
        }, 'json');
      })
    });
  </script>
  <% } %>


    
    <!-- touchslider script -->
    <script type="text/javascript">
      $(".find_nav_list").css("left",0);
      
      $(".find_nav_list li").each(function(){
          $(".sideline").css({left:0});
          $(".find_nav_list li").eq(0).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
      });
      var nav_w=$(".find_nav_list li").first().width();
      $(".sideline").width(nav_w);
      $(".find_nav_list li").on('click', function(){
        nav_w=$(this).width();
        $(".sideline").stop(true);
        $(".sideline").animate({left:$(this).position().left},300);
        $(".sideline").animate({width:nav_w});
        $(this).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
        var fn_w = ($(".find_nav").width() - nav_w) / 2;
        var fnl_l;
        var fnl_x = parseInt($(this).position().left);
        if (fnl_x <= fn_w) {
          fnl_l = 0;
        } else if (fn_w - fnl_x <= flb_w - fl_w) {
          fnl_l = flb_w - fl_w;
        } else {
          fnl_l = fn_w - fnl_x;
        }
        $(".find_nav_list").animate({
          "left" : fnl_l
        }, 300);
        
      });
      var fl_w=$(".find_nav_list").width();
      var flb_w=$(".find_nav_left").width();
      $(".find_nav_list").on('touchstart', function (e) {
        var touch1 = e.originalEvent.targetTouches[0];
        x1 = touch1.pageX;
        y1 = touch1.pageY;
        ty_left = parseInt($(this).css("left"));
      });
      $(".find_nav_list").on('touchmove', function (e) {
        var touch2 = e.originalEvent.targetTouches[0];
        var x2 = touch2.pageX;
        var y2 = touch2.pageY;
        if(ty_left + x2 - x1>=0){
          $(this).css("left", 0);
        }else if(ty_left + x2 - x1<=flb_w-fl_w){
          $(this).css("left", flb_w-fl_w);
        }else{
          $(this).css("left", ty_left + x2 - x1);
        }
        if(Math.abs(y2-y1)>0){
          e.preventDefault();
        }
      });
      
      
      for(n=1;n<9;n++){
        var page='pagenavi'+n;
        var mslide='slider'+n;
        var mtitle='emtitle'+n;
        arrdiv = 'arrdiv' + n;
        var as=document.getElementById(page).getElementsByTagName('a');
        var tt=new TouchSlider({id:mslide,'auto':'-1',fx:'ease-out',direction:'left',speed:600,timeout:5000,'before':function(index){
          var as=document.getElementById(this.page).getElementsByTagName('a');
          as[this.p].className='';
          this.p=index;
          
          fnl_x =  parseInt($(".find_nav_list li").eq(this.p).position().left);
          
          nav_w=$(".find_nav_list li").eq(this.p).width();
          $(".sideline").stop(true);
          $(".sideline").animate({left:$(".find_nav_list li").eq(this.p).position().left},300);
          $(".sideline").animate({width:nav_w},100);
          $(".find_nav_list li").eq(this.p).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
          var fn_w = ($(".find_nav").width() - nav_w) / 2;
          var fnl_l;
          if (fnl_x <= fn_w) {
            fnl_l = 0;
          } else if (fn_w - fnl_x <= flb_w - fl_w) {
            fnl_l = flb_w - fl_w;
          } else {
            fnl_l = fn_w - fnl_x;
          }
          $(".find_nav_list").animate({
            "left" : fnl_l
          }, 300);
        }});
        tt.page = page;
        tt.p = 0;
        //console.dir(tt); console.dir(tt.__proto__);
      
        for(var i=0;i<as.length;i++){
          (function(){
            var j=i;
            as[j].tt = tt;
            as[j].onclick=function(){
              this.tt.slide(j);
              return false;
            }
          })();
        }
      }
      </script>
  
     <!-- end of touchslider script -->