<div class="container">
  <div class="row">
    <%- partial('sidebar-simple') %>
      <div class="col-lg-8 order-1">

    <!-- Card -->
    <div class="card card-image pano-side-card" style="border-radius:0px; height: 300px; background-image: url(../public/images/bg4.jpg);">            
      <!-- Content -->
      <div class="text-white text-center align-items-center rgba-black-light" style="text-shadow: grey; height: 300px; padding-top: 100px">
        <div class='user_big_avatar'>
          <img src="<%= proxy(user.avatar_url) %>" class="rounded-circle" style="max-width: 80px;" title="<%= user.loginname %>" />
        </div>
        <h6 class="card-title pt-2"><strong><%= user.name %></strong></h6>
        <h6 class="card-title pt-2"><strong><%= user.signature %></strong></h6>
        <div style="font-size: 12px">
          <span class='col_fade mx-1 px-2 text-center' style="border:solid 1px white; border-left: solid 8px white;">
              粉丝: <%= user.follower_count %>  
          </span>
          <span class='col_fade mx-1  px-2 text-center' style="border:solid 1px white; border-left: solid 8px white;">
              关注: <%= user.following_count %> 
          </span>
          <span class='col_fade mx-1  px-2 text-center' style="border:solid 1px white; border-left: solid 8px white;">
              积分: <%= user.score %>  
          </span>
          <% if (user.collect_topic_count) {%>
          <a class="text-white" href="/user/<%= user.loginname %>/collections">
            <span class='col_fade mx-1  px-2 text-center' style="border:solid 1px white;  border-left: solid 8px white;">
              收藏: <%= user.collect_topic_count %>
            </span>
          </a>
          <%}%>
      </div>
    </div>
    <!-- Content -->
  </div>
  <!-- Card -->  
        
    <div class='panel'  style="background-color:white">
      <div class='inner userinfo' style="font-size: 12px">
        <div class='text-center'>
            <span class='col_fade'>
                <%= user.create_at_ago() %> 注册 
            </span>
            <% if (user.url) { %>
              <i class="fa fa-lg fa-fw fa-home"></i>
              <a class='dark' href="<%= user.url %>" target='_blank'>
                <%= user.url %>
              </a>
            <% } %>
            <% if (user.location) { %>
              <i class="fa fa-lg fa-fw fa-map-marker"></i>
              <span class='dark'>
                <%= user.location %>
              </span>
            <% } %>
            <% if (user.githubUsername) { %>
              <i class="fa fa-lg fa-fw fa-github"></i>
              <a class='dark' href="https://github.com/<%= user.githubUsername %>" target='_blank'>
                @
                <%= user.githubUsername %>
              </a>
            <% } %>
            <% if (user.weibo) { %>
              <i class="fa fa-lg fa-fw fa-twitter"></i>
              <a class='dark' href="<%= user.weibo %>" target='_blank'>
                <%= user.weibo %>
              </a>
            <% } %>
        </div>
        <hr>
        <div class="text-center" style="border:1px solid grey">
          管理用户/话题<br>
            <% if (current_user && current_user.is_admin) { %>
              <% if (!user.is_star) { %>
                <span class='btn btn-sm btn-success' id='set_star_btn' action='set_star'>设为达人</span>
              <% } else { %>
                <span class='btn btn-sm btn-default' id='set_star_btn' action='cancel_star'>取消达人</span>
              <% } %>

              <% if (!user.is_block) { %>
                <span class='btn btn-sm btn-success' id='set_block_btn' action='set_block'>屏蔽用户</span>
              <% } else { %>
                <span class='btn btn-sm btn-default' id='set_block_btn' action='cancel_block'>取消屏蔽用户</span>
              <% } %>

              <span class="btn btn-sm btn-success" id="delete_all">删除所有发言</span>
              <br/> Email (管理者可见):
              <a href="mailto:<%= user.email %>">
                <%= user.email %>
              </a>
              <% if (!user.active) { %>
                <a href="/active_account?key=<%- typeof(token) !== 'undefined' && token %>&name=<%= user.loginname %>" target="_blank">
                  <span class="btn btn-sm btn-success">
                    激活账号
                  </span>
                </a>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>

        <div class='panel'  style="background-color:white">
          <div class='header'>
            <span class='col_fade'>最近创建的话题</span>
          </div>
          <% if (typeof(recent_topics) !== 'undefined' && recent_topics.length > 0) { %>
            <%- partial('../topic/abstract-2col', { collection: recent_topics, as: 'topic' }) %>
              
                  <div class="col-lg-12 col-md-6 col-sm-6 col-6 pano-abstract-box px-1" style="border-radius: 5px">
                      <a href="aaa ">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-12 col-left pano-abstract-bg" style="background-image:URL(../public/images/climb_quickdraws2.png)">
                            <span>广告</span>
                        </div>
                      </a>
                      <div class="col-lg-9 col-md-12 col-sm-12 col-12 col-left pano-abstract-body">
                        <div class="pano-abstract-contents">
                          <a href="a">
                            <p class="pano-abstract-title">
                                广告标题   
                            </p>
                            <p class="pano-abstract-desc">          
                                广告说明          
                            </p>
                          </a>
                        </div>
                      </div>
                  </div>
                  <div class="clearfix"></div>

                <a class='dark' href="/user/<%= user.loginname %>/topics">查看更多»</a>
              
              <% } else { %>
                <div class='inner'>
                  <p>无话题</p>
                </div>
                <% } %>

        </div>

        <div class='panel' style="background-color:white">
          <div class='header'>
            <span class='col_fade'>最近参与的话题</span>
          </div>
          <% if (typeof(recent_replies) !== 'undefined' && recent_replies.length > 0) { %>
            <%- partial('../topic/abstract-2col', { collection: recent_replies, as: 'topic' }) %>
              
                  <div class="col-lg-12 col-md-6 col-sm-6 col-6 pano-abstract-box px-1" style="border-radius: 5px">
                      <a href="aaa ">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-12 col-left pano-abstract-bg" style="background-image:URL(../public/images/climb_rope.png)">
                            <span>广告</span>
                        </div>
                      </a>
                      <div class="col-lg-9 col-md-12 col-sm-12 col-12 col-left pano-abstract-body">
                        <div class="pano-abstract-contents">
                          <a href="a">
                            <p class="pano-abstract-title">
                                广告标题   
                            </p>
                            <p class="pano-abstract-desc">          
                                广告说明          
                            </p>
                          </a>
                        </div>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                <a class='dark' href="/user/<%= user.loginname %>/replies">查看更多»</a>
            
              <% } else { %>
                <div class='inner'>
                  <p>无话题</p>
                </div>
                <% } %>




        </div>
      </div>

  </div>
</div>


<% if (current_user) { %>
  <script>
    $(document).ready(function () {
      $('#set_star_btn').click(function () {
        var $me = $(this);
        var action = $me.attr('action');
        var params = {
          user_id: '<%= user._id %>',
          _csrf: '<%- csrf %>'
        };
        $.post('/user/' + action, params, function (data) {
          if (data.status === 'success') {
            if (action === 'set_star') {
              $me.html('取消达人');
              $me.attr('action', 'cancel_star');
            } else {
              $me.html('设为达人');
              $me.attr('action', 'set_star');
            }
          }
        }, 'json');
      });

      $('#set_block_btn').click(function () {
        var $me = $(this);
        var action = $me.attr('action');
        var params = {
          _csrf: '<%- csrf %>',
          action: action
        };
        if (action === 'set_block' && !confirm('确定要屏蔽该用户吗？')) {
          return;
        }
        $.post('/user/<%- user.loginname %>/block', params, function (data) {
          if (data.status === 'success') {
            if (action === 'set_block') {
              $me.html('取消屏蔽用户');
              $me.attr('action', 'cancel_block');
            } else if (action === 'cancel_block') {
              $me.html('屏蔽用户');
              $me.attr('action', 'set_block');
            }
          }
        }, 'json');
      })

      $('#delete_all').click(function () {
        var $me = $(this);
        var params = {
          _csrf: '<%- csrf %>',
        };
        if (!confirm('确定要删除吗？（不会永久删除，只做标记位）')) {
          return;
        }
        $.post('/user/<%- user.loginname %>/delete_all', params, function (data) {
          if (data.status === 'success') {
            alert('操作成功');
          }
        }, 'json');
      })
    });
  </script>
  <% } %>


