<div class="container">
  <div class="row">
    <%- partial('sidebar') %>
      <div class="col-lg-8 order-1">
          <div class="card testimonial-card">
            <div class="card-up grey lighten-1 pano-abstract-bg" style="background-image: url(public/images/bg11.jpg);">
            </div>
            <div class="avatar" style="background-color: rgb(70, 69, 69)">
              <img src="public/images/logo-black.png" class="rounded-circle">
            </div>
            <div class="card-body text-left">
              <% if(typeof(error) !== 'undefined' && error){ %>
                <div class="alert alert-error text-center">
                  <a class="close" data-dismiss="alert" href="#">&times;</a>
                  <strong>
                    <%= error %>
                  </strong>
                </div>
                <% } %>
                  <% if (typeof(success) !== 'undefined' && success) { %>
                    <div class="alert alert-success text-center">
                      <strong>
                        <%= success %>
                      </strong>
                    </div>
                    <% } %>
                      <form id='setting_form' action='/setting' method='post'>
                        <div class="row pano-form-row">
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                        
                            <span>
                               <input class='pano-form-control readonly' id='name' name='name' type='text' readonly='true' value="<%= loginname %>" />
                            </span>
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                        
                            <span>
                              <input class='pano-form-control readonly' id='email' name='email' type='text' readonly='true' value="<%= email %>" />
                            </span>
                          </div>

                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            
                            <span>
                              <input class='pano-form-control' id='url' name='url' type='text' value="<%= typeof(url) !== 'undefined' ? url : '' %>" />
                            </span>
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            
                            <span>
                              <input class='pano-form-control' id='location' name='location' type='text' value="<%= typeof(location) !== 'undefined' ? location : '' %>"/>
                            </span>
                          </div>
                   
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            
                            <span>
                              <input class='pano-form-control' id='weibo' name='weibo' type='text' value="<%= typeof(weibo) !== 'undefined' ? weibo : '' %>" placeholder="e.g. http://weibo.com/cnodejs" />
                            </span>
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row' style="padding: 0px;">
                            
                            <div class="pano-form-inline-div">github</div>
                            <input class='pano-form-control' id='github' name='github' type='text' value="<%= typeof(githubUsername) !== 'undefined' ? '@' + githubUsername : '' %>" placeholder="@username" readonly="readonly" />
                            
                          </div>
                        

                          <div class="col-sm-12 col-md-12 col-lg-12 pano-form-row">
                            <input class='pano-form-control' id='signature' name='signature' value="<%= typeof(signature) !== 'undefined' ? signature : "" %>" />
                          </div>
                        </div> 
                        <input type='hidden' id='action' name='action' value='change_setting' />
                        <input type='hidden' name='_csrf' value='<%= csrf %>' />
                        <div class='d-flex justify-content-center'>
                          <input type='submit' class='btn btn-primary btn-sm submit_btn' data-loading-text="保存中.." value='保存设置' />
                        </div>
                      </form>

                      <form id='change_pass_form' action='/setting' method='post'>

                        <div class="row pano-form-row">
                          <div class="col-sm-12 col-md-12 col-lg-12 pano-form-row"">
                            <span style="width: 80px;" for='old_pass'>当前密码</span>
                            <span>
                              <input class='pano-form-control' type='password' id='old_pass' name='old_pass' />
                            </span>
                          </div>
                          <div class="col-sm-12 col-md-12 col-lg-12 pano-form-row">
                            <span style="width: 80px;" for='new_pass'>新密码</span>
                            <span>
                              <input class='pano-form-control' type='password' id='new_pass' name='new_pass' />
                            </span>
                          </div>
                        </div>
                        <input type='hidden' id='action' name='action' value='change_password' />
                        <input type='hidden' name='_csrf' value='<%= csrf %>' />
                        <div class='d-flex justify-content-center'>
                          <input type='submit' class='btn btn-primary btn-sm submit_btn' data-loading-text="更改中.." value='更改密码' />
                        </div>
                      </form>
            </div>
          </div>
      </div>
  </div>
</div>





<style>

.pano-form-inline-div {
    text-align: center;
    display: inline-block;
    width: 30%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    box-shadow: none;
  }
  
  .pano-form-control {
    display: inline-block;
    width: 68%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.5rem;
    box-shadow: none;
  }


  .pano-form-row {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;

  }
</style>