<div class="container">
    <div class="row">
        <%- partial('sidebar-simple') %> 
        <div class="col-lg-8 order-1">
          <div class="card testimonial-card">
            <div class="card-up grey lighten-1 pano-abstract-bg" style="background-image: url(public/images/bg11.jpg);">
            </div>
            <div class="avatar" style="background-color: rgb(70, 69, 69)">
              <img id="aaa" src="<%=avatar %>" class="rounded-circle">
            </div>

            <div class="card-body text-left">
              <% if(typeof(error) !== 'undefined' && error){ %>
                <div class="alert alert-error text-center">
                  <a class="close" data-dismiss="alert" href="#">&times;</a>
                  <strong>
                    <%= error %>
                  </strong>
                </div>
                <% } %>
                  <% if (typeof(success) !== 'undefined' && success) { %>
                    <div class="alert alert-success text-center">
                      <strong>
                        <%= success %>
                      </strong>
                    </div>
                    <% } %>
                      <form id='setting_form' action='/setting' method='post'>
                        <div class="row pano-form-row text-center">
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            <div class="pano-form-inline-div">用户名</div>
                            <input class='pano-form-control readonly' id='name' name='name' type='text' readonly='true' value="<%= loginname %>" />
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            <div class="pano-form-inline-div">电子邮件</div>
                            <input class='pano-form-control readonly' id='email' name='email' type='text' readonly='true' value="<%= email %>" />
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            <div class="pano-form-inline-div">个人网站</div>
                            <input class='pano-form-control' id='url' name='url' type='text' value="<%= typeof(url) !== 'undefined' ? url : '' %>" />
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            <div class="pano-form-inline-div">所在地点</div>
                            <input class='pano-form-control' id='location' name='location' type='text' value="<%= typeof(location) !== 'undefined' ? location : '' %>"/>
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            <div class="pano-form-inline-div">个人微博</div>
                            <input class='pano-form-control' id='weibo' name='weibo' type='text' value="<%= typeof(weibo) !== 'undefined' ? weibo : '' %>" placeholder="e.g. http://weibo.com/cnodejs" />
                          </div>
                          <div class='col-sm-12 col-md-12 col-lg-6 pano-form-row'>
                            <div class="pano-form-inline-div">github</div>
                            <input class='pano-form-control readonly' id='github' name='github' type='text' value="<%= typeof(githubUsername) !== 'undefined' ? '@' + githubUsername : '' %>" placeholder="@username" readonly="readonly" /> 
                          </div>
                          <div class="col-sm-12 col-md-12 col-lg-12 pano-form-row">
                            <input class='pano-form-control' style="width:95%" id='signature' name='signature' value="<%= typeof(signature) !== 'undefined' ? signature : "" %>" />
                          </div>
                          <!--用来存放文件信息-->
                          <div id="uploader" class="wu-example">
                              <div id="thelist" class="uploader-list"></div>
                              <div class="btns">
                                  <div id="picker">选择文件</div>
                                  <!-- <button id="ctlBtn" class="btn btn-default">开始上传</button> -->
                                  <input class="pano-form-control readonly" style="width:300%" id='avatar' name='avatar' value="" />
                              </div>
                          </div>
                          <input type='hidden' name='_csrf1' value='<%= csrf %>'>
                          <!--用来存放文件信息-->
                        </div> 
                        <input type='hidden' id='action' name='action' value='change_setting' />
                        <input type='hidden' name='_csrf' value='<%= csrf %>' />
                        <div class='d-flex justify-content-center'>
                          <input type='submit' class='btn btn-primary btn-sm submit_btn' data-loading-text="保存中.." value='保存设置' />
                        </div>
                      </form>

                      <form id='change_pass_form' action='/setting' method='post'>
                        <div class="row pano-form-row text-center">
                          <div class="col-sm-12 col-md-12 col-lg-6 pano-form-row">
                            <div class="pano-form-inline-div">当前密码</div>
                            <input class='pano-form-control' type='password' id='old_pass' name='old_pass' />
                          </div>
                          <div class="col-sm-12 col-md-12 col-lg-6 pano-form-row">
                            <div class="pano-form-inline-div">新密码</div>
                            <input class='pano-form-control' type='password' id='new_pass' name='new_pass' />
                          </div>
                        </div>
                        <input type='hidden' id='action' name='action' value='change_password' />
                        <input type='hidden' name='_csrf' value='<%= csrf %>' />
                        <div class='d-flex justify-content-center'>
                          <input type='submit' class='btn btn-primary btn-sm submit_btn' data-loading-text="更改中.." value='更改密码' />
                        </div>
                        
                      </form>
            </div>
          </div>
      </div>
  </div>
</div>
<%- partial('../includes/ckeditor') %>
<script>
  //$('#avatar').val('http://o6n42lyyn.bkt.clouddn.com/FmCKeevi8RBT2SgoLjxVm6zqT_k5');
  //$("#aaa").attr('src', 'http://o6n42lyyn.bkt.clouddn.com/FmCKeevi8RBT2SgoLjxVm6zqT_k5'); 
    var _csrf1 = $('[name=_csrf1]').val();
    this.uploader = WebUploader.create({
      swf: '/public/libs/webuploader/Uploader.swf',
      server: '/upload?_csrf=' + _csrf1,
      pick: '#picker',
      auto: true,
      fileSingleSizeLimit: 2 * 1024 * 1024,
      //sendAsBinary: true,
      // 只允许选择图片文件。
      accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
      }
    });

    this.uploader.on('beforeFileQueued', function(file){
      console.log("11111111111111111111111111");
    });

    this.uploader.on('uploadProgress', function(file, percentage){
      console.log("22222222222222222222222222222")
      console.log(percentage);
    });

    this.uploader.on('uploadSuccess', function(file, res){
      console.log("333333333333333333333333");
      console.log(JSON.stringify(res));
      $('#avatar').val(res.url);
      $("#aaa").attr('src', res.url); 
      // if(res.success){
      //   self.$win.modal('hide');
      //   console.log(JSON.stringify(res));
      //   $('#cover_url').text(res.url);
      //   $('#cover').val(res.url);
      //   //self.editor.push('!['+ file.name +']('+ res.url +')');
      //   self.showError(res.url || '服务器走神了，上传失败!!!!!!!!!!!!!!!!!');
      // }
      // else{
      //   self.removeFile();
      //   self.showError(res.msg || '服务器走神了，上传失败');
      // }
    });

    this.uploader.on('uploadComplete', function(file){
      console.log("4444444444444444444444")
      
    });

    this.uploader.on('error', function(type){
      console.log("555555555555555555555555555")
      switch(type){
        case 'Q_EXCEED_SIZE_LIMIT':
        case 'F_EXCEED_SIZE':
          alert('文件太大了, 不能超过2M');
          break;
        case 'Q_TYPE_DENIED':
        alert('只能上传图片');
          break;
        default:
        alert('发生未知错误');
      }
    });

    this.uploader.on('uploadError', function(){
      console.log("6666666666666666666666")
      alert('服务器走神了，上传失败');
    });
</script>


<style>

.pano-form-inline-div {
    text-align: center;
    display: inline-block;
    width: 28%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #ced4da;
    border: 1px solid #ced4da;
    box-shadow: none;
  }
  
  .pano-form-control {
    display: inline-block;
    width: 68%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    box-shadow: none;
    margin-left: -5px;
  }

  .pano-form-row {
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    padding:0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .readonly {
    color:grey;
  }
</style>