<div class="col-lg-4 order-2">

    <!-- Card -->
    <div class="card card-image pano-side-card" style="border-radius:0px; height: 300px; background-image: url(/public/images/bg11.jpg);">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4" style="height: 300px;">
            <div>
                <h5 class="pink-text">
                    <i class="fa fa-pie-chart"></i> Marketing</h5>
                <h3 class="card-title pt-2">
                    <strong>This is card title</strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam.</p>
            </div>
        </div>
        <!-- Content -->
    </div>
    <!-- Card -->



    <!--Panel-->
    <div class="py-2 px-2 text-center my-2" style="border: 1px solid grey; background-color: white">
        <a href="http://www.tnc.org.cn/">
            <img src="/public/images/tnc.jpg">
        </a>
    </div>
    <!--/.Panel-->



    <!--Panel-->
    <div class="py-2 px-2 text-center my-2" style="border: 1px solid grey; background-color: white">
        <a href="http://kolonschool.kolonsport.cn/">
            <img src="/public/images/kolon.png">
        </a>
    </div>
    <!--/.Panel-->


    <!--Panel-->

    <!--Panel-->
    <div class="py-2 px-2 text-center my-2" style="border: 1px solid grey; background-color: white">
        <a href="http://www.blackyak.cn/">
            <img src="/public/images/blackyak.gif" style="width: 100%">
        </a>
    </div>
    <!--/.Panel-->
    <!--Panel-->
    <div class="py-2 px-2 text-center my-2" style="border: 1px solid grey; background-color: white">
        <a href="http://www.wwfchina.org/">
            <img src="/public/images/wwf.jpg">
        </a>
    </div>
    <!--/.Panel-->

</div>