<div class="container">
  <div class="row">
    <%- partial('sidebar-simple') %> 
    <div class="col-lg-8 order-1">
        <%- partial('user-header') %>
      <div class='panel'>
        <div class="inner padding">
          <% if(typeof(topics) !== 'undefined' && topics.length > 0 ){ %>
            <%- partial('../topic/list',
            {topics:topics,pages:pages,current_pages:current_page,base:'/user/'+user.loginname+'/topics'}) %>
            <% }else{ %>
            <div class='inner'>
              <p>无话题</p>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</div>