<div class="pano-full-bg-grey" style="height: 120px; background-image: url(<%- staticFile(config.page_header_bg) %>);">
</div>
<div class="pb-3 mb-3" style="width: 100%; border-bottom: 1px solid rgb(231, 229, 229);">
    <div class="pull-right" style="margin-top: -40px; margin-right: 30px; width: 300px">
        <div class="pull-left" style="height: 80px">
            <img src="<%= proxy(user.avatar_url) %>" class="rounded-circle pano-avatar-xl" style="border: 5px solid white;">
        </div>
        <div class="pull-left" style="height: 80px">
            <div class="pt-1" style="height: 40px; padding-left:10px">            
                <span class="white-text pano-responsive-t1 pano-text-grey-shadow"><%= user.name %></span>
            </div>
            <div style="height: 40px; padding-left:10px">            
                <span class="pano-responsive-d3">
                
                <% if (user.signature) {%>
                    
                    <%-escapeSignature(user.signature)%>
                    
                <%} else {%>
                    <span style="font-style: italic">没有个性签名</span>
                <%}%>
                
                </span>
            </div>

        </div>
    </div>
    <div class="pt-5 text-center pano-responsive-d4" style="height: auto; width: 100%">
        <span class='col_fade px-2 text-center'>
            粉丝: <%= user.follower_count %>  
        </span>
        <span class='col_fade px-2 text-center'>
            关注: <%= user.following_count %> 
        </span>
        <span class='col_fade px-2 text-center'>
            积分: <%= user.score %>  
        </span>
        <% if (user.collect_topic_count) {%>
        <a href="/user/<%= user.loginname %>/collections">
            <span class='col_fade px-2 text-center' style="border:solid 1px white;  border-left: solid 8px white;">
            收藏的话题: <%= user.collect_topic_count %>
            </span>
        </a>
        <%}%>
        
        <div class='text-center' style="font-size: 10px; display:none">
            <span class='col_fade'>
                <%= user.create_at_ago() %> 注册 
            </span>
            <% if (user.url) { %>
                <i class="fa fa-lg fa-fw fa-home"></i>
                <a class='dark' href="<%= user.url %>" target='_blank'>
                <%= user.url %>
                </a>
            <% } %>
            <% if (user.location) { %>
                <i class="fa fa-lg fa-fw fa-map-marker"></i>
                <span class='dark'>
                <%= user.location %>
                </span>
            <% } %>
            <% if (user.githubUsername) { %>
                <i class="fa fa-lg fa-fw fa-github"></i>
                <a class='dark' href="https://github.com/<%= user.githubUsername %>" target='_blank'>
                @
                <%= user.githubUsername %>
                </a>
            <% } %>
            <% if (user.weibo) { %>
                <i class="fa fa-lg fa-fw fa-twitter"></i>
                <a class='dark' href="<%= user.weibo %>" target='_blank'>
                <%= user.weibo %>
                </a>
            <% } %>
        </div>
    </div>
</div>



<style>
        .pano-header-content {
            color: #ffffff;
        }
        .pano-header-bg {
            text-align: center;
    
            height:300px;
            text-align: center;
            line-height: 300px;
        }
        .pano-header-bg-blur {
            float: left;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            /* -webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px); */
            -webkit-filter: sepia(0.8);
            -moz-filter: sepia(0.8);
            -o-filter: sepia(0.8);
            -ms-filter: sepia(0.8);
            filter: sepia(0.8);
        }
        .pano-header-content-front {
            position:absolute;
            padding-top: 100px;
            padding-bottom: 20px;
            padding-left: 50px;
            padding-right: 50px;
            left: 10px;
            right: 10px;
            height: 300px;
            text-align: center;
            text-shadow: 1px 1px 1px black;
        }
    </style> 
    