<div class="container">
    <div class="row">
        <%- partial('sidebar-simple') %>
      <!--Main column-->
      <div id="content" class="col-lg-8 order-1" style="background-color: white">
        <div class="card testimonial-card">
          <div class="card-body text-left">

              <span class='col_fade'>新消息</span>   
              <% if (typeof(hasnot_read_messages) !== 'undefined' && hasnot_read_messages.length > 0) { %>
                <%- partial('../message/message', { collection: hasnot_read_messages, as: 'message' }) %>
              <% } else { %>
                <div class='inner text-center'>
                  <p>没有新的消息</p>
                </div>
              <% } %>
                        
              <span class='col_fade'>过往信息</span>          
              <% if (typeof(has_read_messages) !== 'undefined' && has_read_messages.length > 0) { %>
                <%- partial('../message/message', { collection: has_read_messages, as: 'message' }) %>
              <% } else { %>
              <div class='inner text-center'>
                <p>没有消息</p>
              </div>
              <% } %>
        

          </div>
        </div>
        </div>
    </div>
    </div>



