<div class='px-2 mx-2 reply_area reply_item
  <%- reply.ups && reply.ups.length >= topic.reply_up_threshold ? 'reply_highlight' : '' %>'
  id="reply<%= indexInCollection+1 %>" reply_id="<%= reply._id %>" reply_to_id="<%= reply.reply_id || '' %>" style="">
  <a class="anchor" id="<%= reply._id %>"></a>

  <div class='author_content'>
    <a href="/user/<%= reply.author.loginname %>">
      <img src="<%= proxy(reply.author.avatar_url) %>" class="user-avatar rounded-circle z-depth-1-half" style="height: 40px; "title="<%= reply.author.loginname %>"/>
    </a>
    <span class='user_info' style="font-size: 12px">
      <a class='dark reply_author' href="/user/<%= reply.author.loginname %>"><%= reply.author.loginname %></a>
      <a class="reply_time" href="#<%= reply._id %>"></a> | <%= indexInCollection + 1 %>楼  | <%= reply.create_at_ago()
        %></a>
    </span>

    <div class='user_action'>
      <span class="badge badge-info">
        <i class="fa up_btn
          <%= (current_user && is_uped(current_user, reply)) ? 'fa-thumbs-up uped' : 'fa-thumbs-o-up' %>
          <%= (!reply.ups || !reply.ups.length) ? 'invisible' : '' %>" title="喜欢">
        </i>
        <span class="up-count">
          <%= reply.ups && reply.ups.length ? reply.ups.length : '' %>
        </span>
      </span>
      <% if (current_user && current_user.is_admin ||
      (current_user && current_user._id.toString() == reply.author._id.toString())
      ) { %>
      <a href='/reply/<%= reply._id %>/edit' class='edit_reply_btn'>
        <span class="badge badge-info"><i class="fa fa-pencil-square-o" title='编辑'></i></span>
      </a>
      <a href='javascript:void(0);' class='delete_reply_btn'>
          <span class="badge badge-info"><i class="fa fa-trash" title='删除'></i></span>
      </a>
      <% } %>
      <span>
        <% if (current_user){ %>
        <span class="badge badge-info"><i class="fa fa-reply reply2_btn" title="回复"></i></span>
        <% } %>
      </span>
    </div>
  </div>

  <div class='reply_content from-<%= reply.author.loginname %>'>
    <%- markdown(reply.content) %>
  </div>
  
  <div class='clearfix'>
    <div class='reply2_area'>
      <% if (current_user) { %>
      <form class='reply2_form' action='/<%= topic._id %>/reply' method='post'>
        <input type='hidden' name='_csrf' value='<%= csrf %>'/>
        <input type='hidden' name='reply_id' value='<%= reply._id %>'/>
        <div class='markdown_editor in_editor'>
          <div class='markdown_in_editor'>
            <textarea class='span8 editor reply_editor'
                      id="reply2_editor_<%= reply._id %>" name='r_content' rows='4'></textarea>
            <div class='editor_buttons'>
              <input class='pull-right btn btn-info btn-sm px-3'
                     type="submit" data-id='<%= reply._id %>' data-loading-text="回复中.." value="回复">
            </div>
          </div>
        </div>
      </form>
      <% } %>
    </div>
  </div>
  <hr>
</div>

