<!-- 
<div class="swiper-slide text-center inline-block">
    <div class="pano-carousel-bg text-center">
        <div class="pano-topic-index-head inline-block pull-left hidden-md-down" style="width: 30%; background-color:#3bd116">
            <div class="d-flex flex-row m-3">    
                <div class="pano-full-bg pano-vhalign text-white m-2" style="border: solid 3px white; width: 50px; height: 38px; font-size: 12px;">
                    广告
                </div> 
            </div>
        </div>
        <div class="inline-block pull-right pano-responsive-width">
            <div class="pano-topic-index-head" style="background-image: url(public/images/adv.png);">    
                <div class="pano-cover-shape-border-adv" style="z-index:0;"></div>  
                <div class="pano-main-header-txt text-black text-left" style="margin-left: -30%; width: 80%; text-shadow:1px 1px 1px rgb(245, 241, 241);">
                    <p class="h3 pano-cut2 px-0"><strong>法国攀锁[Petzl]新款动力绳, 限时大降价！！</strong><p>
                    <p class="h5 pano-cut2 px-0">啊手动阀啊手动阀手动阀，啊手动阀手动阀，啊手动阀手动阀。</p>
                </div>
                <div class="pano-cover-shape-border-adv-right pull-right" style="z-index:0; margin-top:-300px;"></div>  
            </div>
        </div>
    </div>
</div>
-->