

    <!--Panel-->
    <div class="pano-banner-adv text-center" style="border: 0; background-color:chartreuse">
        <a href="http://kolonschool.kolonsport.cn/">
            <img src="../public/images/kolon.png">
        </a>
    </div>
    <!--/.Panel-->  
    
    <!--Panel-->
    <div class="pano-banner-adv text-center">
            <a href="http://www.tnc.org.cn/">
                <img src="../public/images/tnc.jpg">
            </a>
        </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="pano-banner-adv text-center" style="border: 0; background-color:rgb(166, 227, 252)">
        <a href="http://www.blackyak.cn/">
            <img src="../public/images/by.png">
        </a>
    </div>
    <!--/.Panel-->  

    <!--Panel-->
    <div class="pano-banner-adv text-center">
        <a href="http://www.wwfchina.org/">
            <img src="../public/images/wwf.jpg">
        </a>
    </div>
    <!--/.Panel-->  

