<!-- Card -->
<div class="card card-image pano-side-card" style="border-radius:0px; height: 300px; background-image: url(../public/images/scarpa.png);">            
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4" style="height: 300px;">
        <div>
            <img src="../public/images/scarpa-logo.png">
            <h3 class="card-title pt-2"><strong>[Scarpa]</strong></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam.</p>
        </div>
    </div>
    <!-- Content -->
</div>
<!-- /Card -->   

