
    <!--Panel-->
    <div class="pano-banner-adv text-center">
            <a href="http://www.tnc.org.cn/">
                <img src="../public/images/tnc.jpg">
            </a>
        </div>
    <!--/.Panel-->

    <!--Panel-->
    <div class="pano-banner-adv text-center">
        <a href="http://kolonschool.kolonsport.cn/">
            <img src="../public/images/kolon.png">
        </a>
    </div>
    <!--/.Panel-->  

    <!--Panel-->
    <div class="pano-banner-adv text-center">
        <a href="http://www.blackyak.cn/">
            <img src="../public/images/blackyak.gif">
        </a>
    </div>
    <!--/.Panel-->  

    <!--Panel-->
    <div class="pano-banner-adv text-center">
        <a href="http://www.wwfchina.org/">
            <img src="../public/images/wwf.jpg">
        </a>
    </div>
    <!--/.Panel-->  