<%- partial('../navbar') %>

<div class="container b-3">
site logo <br>
<img style="height:80px" src="<%- staticFile(config.site_logo) %>" /> 
&lt;img style="height:80px" src="&lt;%- staticFile(config.site_logo) %&gt;" /&gt;
<hr>
site logo black<br>
<img style="height:80px" src="<%- staticFile(config.site_logo_black) %>" /> 
&lt;img style="height:80px" src="&lt;%- staticFile(config.site_logo_black) %&gt;" /&gt;
<hr>
page header background<br>
<img style="height:80px" src="<%- staticFile(config.page_header_bg) %>" /> 
&lt;img style="height:80px" src="&lt;%- staticFile(config.page_header_bg) %&gt;" /&gt;
<div style="width: 500px; height: 300px; background-image: url(<%- staticFile(config.page_header_bg) %>);"></div>
&lt;div style="width: 500px; height: 300px; background-image: url(&lt;%- staticFile(config.page_header_bg) %&gt;);"&gt;&lt;/div&gt;
<hr>
user header background<br>
<img style="height:80px" src="<%- staticFile(config.user_header_bg) %>" /> 
&lt;img style="height:80px" src="&lt;%- staticFile(config.user_header_bg) %&gt;" /&gt;
<div style="width: 500px; height: 300px; background-image: url(<%- staticFile(config.user_header_bg) %>);"></div>
&lt;div style="width: 500px; height: 300px; background-image: url(&lt;%- staticFile(config.user_header_bg) %&gt;);"&gt;&lt;/div&gt;
<hr>
</div>