<%- partial('../navbar') %>

<div class="container">
    <div class="row">
        <!--Main column-->
        <div class="col-lg-8">
            <div class='panel'>


                    <!--contents panel start -->
                    <div class='panel'>
                        <div class='header'>
                            <span class='col_fade'>无人回复的话题</span>
                        </div>
                        <div class='inner'>
                            <% if (typeof(no_reply_topics) !== 'undefined' && no_reply_topics.length > 0) { %>
                            <ul class='unstyled'>
                            <%- partial('../topic/small', { collection: no_reply_topics, as: 'topic' }) %>
                            </ul>
                            <% } else { %>
                            <p>无</p>
                            <% } %>
                        </div>
                    </div>
                    <!--contents panel end -->   
                    <%- partial('parts/qrate1') %>
                    
            </div>
        </div>
        <!--Sidebar-->
        <div class="col-lg-4 hidden-md-down">
            <%- partial('../sidebar') %>
        </div>    
        <!--/.Sidebar-->
    </div>
</div>
    