<%- partial('../navbar') %>

<div class="container">
        <div class="row">
          <!--Main column-->
          <div class="col-lg-8">
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>测试画面2</li>
      </ul>
    </div>

    <div>
        <a href="?tab=news">新闻</a>
    </div>

    <%- partial('parts/swiper2') %>
    <%- partial('parts/swiper') %>

  </div>
</div>

            <!--Small news-->
            <div class="single-news">
                
                                <div class="row">
                                    <div class="col-md-3">
                
                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                
                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <p><strong>19/08/2016</strong></p>
                                        <a>How to start surfing in Hawaii? 
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                
                                </div>
                            </div>
                            <!--/Small news-->
                <hr>
            <!--Small news-->
            <div class="single-news">
                
                                <div class="row">
                                    <div class="col-md-3">
                
                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                
                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <p><strong>19/08/2016</strong></p>
                                        <a>How to start surfing in Hawaii? 
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                
                                </div>
                            </div>
                            <!--/Small news-->
                <hr>
            <!--Small news-->
            <div class="single-news">
                
                                <div class="row">
                                    <div class="col-md-3">
                
                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                
                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <p><strong>19/08/2016</strong></p>
                                        <a>How to start surfing in Hawaii? 
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                
                                </div>
                            </div>
                            <!--/Small news-->
                <hr>
            <!--Small news-->
            <div class="single-news">
                
                                <div class="row">
                                    <div class="col-md-3">
                
                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                
                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <p><strong>19/08/2016</strong></p>
                                        <a>How to start surfing in Hawaii? 
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                
                                </div>
                            </div>
                            <!--/Small news-->
                <hr>
            <!--Small news-->
            <div class="single-news">
                
                                <div class="row">
                                    <div class="col-md-3">
                
                                        <!--Image-->
                                        <div class="view overlay hm-white-slight z-depth-1-half">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg" class="img-fluid" alt="Minor sample post image">
                                            <a>
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </div>
                
                                    <!--Excerpt-->
                                    <div class="col-md-9">
                                        <p><strong>19/08/2016</strong></p>
                                        <a>How to start surfing in Hawaii? 
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                
                                </div>
                            </div>
                            <!--/Small news-->
                <hr>
<!--Section: Magazine v.2-->
<section class="section magazine-section">
    
        <!--Section heading-->
        <h2 class="section-heading h1 my-5">Section title</h2>
    
        <!--Section description-->
        <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        <!--Grid row-->
        <div class="row text-left">
    
            <!--Grid column-->
            <div class="col-lg-6 col-md-12">
    
                <!--Featured news-->
                <div class="single-news">
    
                    <!--Image-->
                    <div class="view overlay hm-white-slight z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(118).jpg" class="img-fluid" alt="Wider sample post image">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
    
                    <!--Excerpt-->
                    <div class="news-data">
                        <a href="" class="deep-orange-text"><h6><i class="fa fa-cutlery"></i><strong> Culinary</strong></h6></a>
                        <p><strong><i class="fa fa-clock-o"></i> 27/02/2016</strong></p>
                    </div>
    
                    <h3><a><strong>This is title of the news.</strong></a></h3>
    
                    <p align="justify">Sed ut perspiciatis unde voluptatem omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae explicabo. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
    
                </div>
                <!--/Featured news-->
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-6 col-md-12">
    
                <!--Small news-->
                <div class="single-news">
    
                    <div class="row">
                        <div class="col-md-3">
    
                            <!--Image-->
                            <div class="view overlay hm-white-slight z-depth-1-half">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(50).jpg" class="img-fluid" alt="Minor sample post image">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
    
                        <!--Excerpt-->
                        <div class="col-md-9">
                            <p><strong>26/02/2016</strong></p>
                            <a>Duis aute irure dolor in reprehenderit in voluptate.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
    
                    </div>
                </div>
                <!--/Small news-->
                <hr>
                <!--Small news-->
                <div class="single-news">
    
                    <div class="row">
                        <div class="col-md-3">
    
                            <!--Image-->
                            <div class="view overlay hm-white-slight z-depth-1-half">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" class="img-fluid" alt="Minor sample post image">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
    
                        <!--Excerpt-->
                        <div class="col-md-9">
                            <p><strong>25/02/2016</strong></p>
                            <a>Duis aute irure dolor in reprehenderit in voluptate.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
    
                    </div>
                </div>
                <!--/Small news-->
                <hr>
                <!--Small news-->
                <div class="single-news">
    
                    <div class="row">
                        <div class="col-md-3">
    
                            <!--Image-->
                            <div class="view overlay hm-white-slight z-depth-1-half">
                                <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="Minor sample post image">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
    
                        <!--Excerpt-->
                        <div class="col-md-9">
                            <p><strong>24/02/2016</strong></p>
                            <a>Duis aute irure dolor in reprehenderit in voluptate.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
    
                    </div>
                </div>
                <!--/Small news-->
                <hr>
    
                <!--Small news-->
                <div class="single-news">
    
                    <div class="row">
                        <div class="col-md-3">
    
                            <!--Image-->
                            <div class="view overlay hm-white-slight z-depth-1-half">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(26).jpg" class="img-fluid" alt="Minor sample post image">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                        </div>
    
                        <!--Excerpt-->
                        <div class="col-md-9">
                            <p><strong>23/02/2016</strong></p>
                            <a>Duis aute irure dolor in reprehenderit in voluptate.
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
    
                    </div>
                </div>
                <!--/Small news-->
    
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Magazine v.2-->

    <!--Section: Magazine v.3-->
<section class="section magazine-section multi-columns">
    
        <!--Section heading-->
        <h2 class="section-heading h1 mt-5">Section title</h2>
    
        <!--Section description-->
        <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
        <!--Grid row-->
        <div class="row text-left">
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">
    
                <!--Featured news-->
                <div class="single-news">
    
                    <!--Image-->
                    <a href="" class="orange-text mb-1"><h6><i class="fa fa-coffee"></i><strong> Health</strong></h6></a>
    
                    <div class="view overlay hm-white-slight z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid" alt="First sample image">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <a><strong>This is title of the news.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
    
                </div>
                <!--/Featured news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>24 Food Swaps That Slash Calories.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>How to Make a Beet Cocktail?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>8 Sneaky Reasons You're Always Hungry.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>5 Pressure Cooker Recipes You Need to Try.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">
    
                <!--Featured news-->
                <div class="single-news">
    
                    <!--Image-->
                    <a href="" class="green-text"><h6><i class="fa fa-diamond"></i><strong> Lifestyle</strong></h6></a>
    
                    <div class="view overlay hm-white-slight z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(51).jpg" class="img-fluid" alt="Second sample image">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
    
                    <a><strong>This is title of the news.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
    
                </div>
                <!--/Featured news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>Trends in the blogosphere for 2016.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>Where you eat the best lunch in Warsaw?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>What camera take for holidays?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>Why you should visit Lisbon?
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">
    
                <!--Featured news-->
                <div class="single-news">
    
                    <!--Image-->
                    <a href="" class="pink-text"><h6><i class="fa fa-camera"></i><strong> Photography</strong></h6></a>
    
                    <div class="view overlay hm-white-slight z-depth-1-half">
                        <img src="https://mdbootstrap.com/img/Photos/Others/img%20(33).jpg" class="img-fluid" alt="Third sample image">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
    
                    <a><strong>This is title of the news.</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
    
                </div>
                <!--/Featured news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>Top models in Poland.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>London Fashion Week - see online.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>Best bags designers in Italy.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
                <!--Small news-->
                <div class="single-news">
                    <a>Choose best swimsuit for summer.
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <!--/Small news-->
    
            </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Magazine v.3-->

    <!--Section: Social newsfeed v.1-->
<section class="pt-5 pb-3">
    
        <!--Grid row-->
        <div class="row">
    
            <!--Grid column-->
            <div class="col-lg-6">
    
                <!--Newsfeed-->
                <div class="mdb-feed">
    
                    <!--First news-->
                    <div class="news">
    
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
    
                        <!--Excert-->
                        <div class="excerpt">
    
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">John Doe</a> added you as a friend<div class="date">1 hour ago</div>
                            </div>
    
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>5 likes</span></a>
                            </div>
    
                        </div>
    
                    </div>
                    <!--First news-->
    
                    <!--Second news-->
                    <div class="news">
    
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(17)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
    
                        <!--Excert-->
                        <div class="excerpt">
    
                            <!--Brief-->
                            <div class="brief">
                                 <a class="name">Anna Smith</a> added<a> 2 new illustrations</a><div class="date">4 hours ago</div>
                            </div>
    
                            <!--Added images-->
                            <div class="added-images">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" class="z-depth-1">
                            </div>
    
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>18 likes</span></a>
                            </div>
    
                        </div>
    
                    </div>
                    <!--Second news-->
    
                    <!--Third news-->
                    <div class="news">
    
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
    
                        <!--Excert-->
                        <div class="excerpt">
    
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Danny Moore</a> added you as a friend<div class="date">7 hours ago</div>
                            </div>
    
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>11 likes</span></a>
                            </div>
    
                        </div>
    
                    </div>
                    <!--Third news-->
    
                    <!--Fourth news-->
                    <div class="news">
    
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
    
                        <!--Excert-->
                        <div class="excerpt">
    
                            <!--Brief-->
                            <div class="brief">
                                <a class="name">Lili Rose</a> posted on his page<div class="date">2 days ago</div>
                            </div>
    
                            <!--Added text-->
                            <div class="added-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore, iste quas libero eius? Vitae sint neque animi alias sunt dolor, accusantium ducimus, non placeat voluptate.</div>
    
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>7 likes</span></a>
                            </div>
    
                        </div>
    
                    </div>
                    <!--Fourth news-->
    
                    <!--Fifth news-->
                    <div class="news">
    
                        <!--Label-->
                        <div class="label">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20)-mini.jpg" class="rounded-circle z-depth-1-half">
                        </div>
    
                        <!--Excert-->
                        <div class="excerpt">
    
                            <!--Brief-->
                            <div class="brief">
                                 <a class="name">Kate Harrison</a> added<a> 2 new photos</a> of you<div class="date">3 days ago</div>
                            </div>
    
                            <!--Added images-->
                            <div class="added-images">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(121).jpg" class="z-depth-1">
                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(26).jpg" class="z-depth-1">
                            </div>
    
                            <!--Feed footer-->
                            <div class="feed-footer">
                                <a class="like"><i class="fa fa-heart"></i><span>53 likes</span></a>
                            </div>
    
                        </div>
    
                    </div>
                    <!--Fifth news-->
    
                </div>
                <!--Newsfeed-->
    
            </div>
            <!--Grid column-->
        
        </div>
        <!--Grid row-->
    
    </section>
    <!--Section: Social newsfeed v.1--> 
                
            Copy
    Social newsfeed v.2 MDB PRO COMPONENT 

    <!--Card-->
<div class="card card-cascade wider reverse my-4">
    
        <!--Card image-->
        <div class="view overlay hm-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
            <a href="#!">
                <div class="mask"></div>
            </a>
        </div>
        <!--/Card image-->
    
        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>My adventure</strong></h4>
            <h5 class="indigo-text"><strong>Photography</strong></h5>
    
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>
    
            <!--Linkedin-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
    
        </div>
        <!--/.Card content-->
    
    </div>
    <!--/.Card-->
    
    Copy
    Action button & footer 
    
    <!--Sidebar-->
<div class="col-lg-4 hidden-md-down">
        <%- partial('../sidebar') %>
    </div>    
    <!--/.Sidebar-->
    </div>
    </div>
    